<%- include('../layouts/user/header.ejs') -%>

<style>
        .cart-product-quantity {
            display: flex;
            align-items: center;
        }

        .cart-product-quantity button {
            min-width: 20px;
            height: 20px;
            padding: 0;
        }

        .cart-product-quantity input {
            text-align: center;
            width: 25px;
        }
    </style>

<!-- shop body section start -->
<div>
    <section class="cart-body mb-90 gray-border-top pt-35">
        <div class="has-breadcrumb-content">
            <div class="container container-1430">
                <div id="reloadDiv">
                    <div class="breadcrumb-content"
                        style="flex-direction: column;">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item"><a
                                        href="home">Home</a></li>
                                <li class="breadcrumb-item active"
                                    aria-current="page">Cart</li>
                            </ol>
                        </nav>

                        <h2 class="cart-title mt-40">Cart</h2>
                    </div>
                    <div class="cart-body-content">

                        <% if( typeof products !="undefined" ){ %>
                            <div class="row">
                            <div class="col-xl-8">
                                <div class="product-content">
                                    
                                    <form action="#">
                                        <div class="table-responsive">
                                            <table class="table table-2">
                                                <thead>
                                                    <tr>
                                                        <th
                                                            class="product-image">ProductImage</th>
                                                        <th
                                                            class="product-title">Product</th>
                                                        <th>Price</th>
                                                        <th
                                                            class="quantity">Quantity</th>
                                                        <th
                                                            class="total">Total</th>
                                                        <th
                                                            class="remove-porduct"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <%
                                                    cart.product.forEach(product=>
                                                    {%>
                                                    <tr>
                                                        <td>
                                                            <div
                                                                class="table-data">
                                                                <img
                                                                    src="/products/crops/<%= product.productId.images.image1 %>"
                                                                    width="80"
                                                                    alt>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="table-data">
                                                                <h6><a
                                                                        href="/product?id=<%= product.productId._id %>"
                                                                        class="title">
                                                                        <%=
                                                                        product.productId.name
                                                                        %>
                                                                    </a></h6>
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <div
                                                                class="table-data">
                                                                <span
                                                                    class="price"
                                                                    data-product-price>₹
                                                                    <%=
                                                                    product.productId.price
                                                                    %>
                                                                </span>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div
                                                                class="cart-product-quantity">
                                                                <button
                                                                    class="btn btn-decrement"
                                                                    onclick="changeQuantity('<%=userId%>','<%=product.productId._id%>',-1)"
                                                                    type="button">-</button>
                                                                <input
                                                                    type="text"
                                                                    id="cartProductQuantity_<%=product.productId._id%>"
                                                                    class="form-control"
                                                                    value="<%= product.count %>"
                                                                    readonly>
                                                                <button
                                                                    class="btn btn-increment"
                                                                    onclick="changeQuantity('<%=userId%>','<%=product.productId._id%>',1)"
                                                                    type="button">+</button>
                                                            </div>

                                                        </td>

                                                        <td>
                                                            <div
                                                                class="table-data">
                                                                <span
                                                                    class="total">₹<%=
                                                                    product.totalPrice
                                                                    %>

                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="table-data">
                                                                <button
                                                                    type="button"
                                                                    class="close-btn"
                                                                    onclick="removeItem('<%= product.productId._id %>')"><i
                                                                        class="fal fa-trash"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- <div class="cupon">
                                                <form action="#" method="POST">
                                                    <input type="text" placeholder="Cupon code" class="text-left pl-3"
                                                        style="margin-right: 20px; width: 119px;">
                                                    <button
                                                        class="generic-btn border-0 red-hover-btn text-uppercase">Apply
                                                        Cupon</button>
                                                    <button
                                                        class="generic-btn border-0 red-hover-btn text-uppercase float-right">Update
                                                        Cart
                                                    </button>
                                                </form>
                                            </div> -->
                                    </form>
                                </div>

                            </div>

                            <div class="col-xl-4">
                                <div class="cart-widget">
                                    <h4 class="title">Cart Totals</h4>
                                    <table class="table table-2 no-border">
                                        <tbody>
                                            <tr>
                                                <th>Subtotal</th>
                                                <td>
                                                    <%=subTotal%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Delevery</th>
                                                <td>
                                                    <!-- <h6>Delevery</h6> -->
                                                    <!-- <p>Shipping options will be updated
                                                                during checkout.</p> -->
                                                    <a href="javascript:void(0)"
                                                        class="price-calculate">Free
                                                        shipping : ₹00.0</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Total</th>
                                                <td><strong>
                                                        <%=subTotal%>
                                                    </strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="/checkout"
                                        class="mt-40 generic-btn red-hover-btn w-100 d-block"
                                        style="height: 50px;">Procced to
                                        checkout</a>
                                </div>
                                <!-- /. cart widget -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                    <%} else { %>

                    <div class="error-content text-center">
                        <div class="container">
                            <h1 class="error-title">Empty Cart</h1>
                            <!-- End .error-title -->
                            <p>Your cart is empty.</p>
                            <a href="/shop"
                                class="btn btn-outline-primary-2 btn-minwidth-lg">
                                <span>FILL YOUR CART</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div>
                        <!-- End .container -->
                    </div>
                    <% } %>
                </div>
            </div>
        </section>

        <!-- shop body section end -->


        <!-- JS here -->
        <script>


            function removeItem(proId) {
                swal
                    .fire({
                        title: "Are You Sure?",
                        Text: " You wont be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "cancel",
                    })
                    .then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: "/removeCartItem",
                                data: {
                                    product: proId,
                                },
                                method: "post",
                                success: (response) => {
                                    if ((response.success)) {
                                        swal.fire({
                                            title: "Deleted!",
                                            text: "Your item has been deleted.",
                                            icon: "success",
                                            timer: 1500,
                                            showConfirmButton: false,
                                        }).then(() => {
                                            location.reload();
                                        });
                                    }
                                },
                            });
                        }
                    });
            }


            function changeQuantity(userId, proId, count) {
                console.log("changeQuantity triggered");
                console.log("userId:", userId);
                console.log("proId:", proId);
                console.log("count:", count);
                $.ajax({
                    url: "/quantityUpdate",
                    data: {
                        user: userId,
                        product: proId,
                        count: count
                    },
                    method: "post",
                    success: (response) => {
                        console.log(response, 'responce check 0--------------');

                        if (response.success) {
                            $("#reloadDiv").load("/cart #reloadDiv");
                        } else if (response.check) {
                            swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Out of stock",
                            });
                        } else {
                            swal.fire({
                                position: "center",
                                icon: "warning",
                                text: response.message,
                                timer: 1500,
                                showConfirmButton: false,
                            });
                        }
                    },
                    error: (error) => {
                        console.log(error);
                    },
                })
            }

        </script>
   

        <%- include('../layouts/user/footer.ejs') -%>