<%-include("../layouts/user/header.ejs")%>

    <style>
        /* Styles for Coupon Card */

        .coupon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100vh;
            background-color: #dc143c; */
        }

        .coupon-card {
            width: 400px;
            height: 210px;
            border-radius: 5px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
            background-color: #fff;
            padding: 10px;
            position: relative;
            margin: 7px;
        }

        .coupon-main,
        .coupon-copy-button {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            align-items: center;
        }

        .coupon-card::after,
        .coupon-card::before {
            position: absolute;
            content: "";
            height: 40px;
            border-radius: 40px;
            z-index: 1;
            width: 40px;
        }

        .coupon-card::after {
            right: -20px;
            top: 70px;
        }

        .coupon-card::before {
            left: -20px;
            top: 70px;
        }

        .coupon-img img {
            width: 100px;
            height: 100px;
        }

        .coupon-vertical {
            border-left: 5px dotted black;
            height: 100px;
            position: absolute;
            left: 40%;
        }

        .coupon-content h1 {
            font-size: 35px;
            margin-left: -20px;
            color: #565656;
        }

        .coupon-content h1 span {
            font-size: 18px;
        }

        .coupon-content h2 {
            font-size: 18px;
            margin-left: -20px;
            color: #565656;
            text-transform: uppercase;
        }

        .coupon-content p {
            font-size: 16px;
            color: #696969;
            margin-left: -20px;
        }

        .coupon-copy-button {
            margin: 6px 0 -5px 0;
            height: 37px;
            border-radius: 4px;
            padding: 0 1px;
            border: 1px solid #e1e1e1;
        }

        .coupon-copy-button input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 15px;
        }

        .coupon-copy-button button {
            padding: 5px 20px;
            background-color: #dc143c;
            color: #fff;
            border: 1px solid transparent;
        }

        .coupon-remove-btn {
            position: absolute;
            bottom: 20px;
            left: 20px;
            background-color: #dc143c;
        }
    </style>

    <!-- preloader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    <main>

        <!-- breadcrumb-area-start -->
        <section class="breadcrumb-area" data-background="img/bg/page-title.html">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-content" style="flex-direction: column;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb p-0 m-0">
                                    <li class="breadcrumb-item"><a href="index2.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Cart</li>
                                </ol>
                            </nav>
                            <h2 class="cart-title mt-40">Cart</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- coupon-area start -->

        <body class="couponBody">
            <section class="coupon-area pt-30 pb-30">
                <div class="container">
                    <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <div class="coupon-accordion">
                            <!-- ACCORDION START -->
                            <h3>Have a coupon? <span id="couponShow">Click here
                                    to get your code</span></h3>
                            <div id="checkout_coupon" class="coupon-checkout-content" style="width: 100%;">
                                <div class="coupon-info d-flex justify-content-center" id="reloadArea">
                                    <% if (couponData && couponData.length> 0) { %>
                                        <% couponData.forEach(function(coupon) { %>
                                            <% if (totalamount> coupon.criteriaAmount) { %>
                                                <div class="coupon-container">
                                                    <div class="coupon-card">
                                                        <div class="coupon-main">
                                                            <div class="coupon-img">
                                                                <img src="https://i.pinimg.com/originals/c7/84/67/c78467db9ff497393cb548a48f02d451.png"
                                                                    alt />
                                                            </div>
                                                            <div class="coupon-vertical"></div>
                                                            <div class="coupon-content">
                                                                <h2>
                                                                    <%= coupon.name %>
                                                                </h2>
                                                                <h1>
                                                                    <%= coupon.discountAmount %>% <span>Coupon</span>
                                                                </h1>
                                                                <p>Valid till <%= coupon.expiryDate %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="coupon-copy-button">
                                                            <% if (coupon.usedUser.toString()===userId.toString()) { %>
                                                                <input id="apply-value" type="text" readonly
                                                                    value="<%= coupon.couponCode %>" />
                                                                <button onclick="removeCoupon('<%= coupon._id %>')"
                                                                    class="coupon-copy-btn">Remove</button>
                                                                <% } else { %>
                                                                    <input id="apply-value" type="text" readonly
                                                                        value="<%= coupon.couponCode %>" />
                                                                    <button onclick="couponApplied('<%= coupon._id %>')"
                                                                        class="coupon-copy-btn">Apply</button>
                                                                    <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } else { %>
                                                    <!-- <div
                                                        class="coupon-card <%= totalamount <= coupon.totalamount ? 'fade-out' : '' %>">
                                                        <div class="coupon-main">
                                                            <div class="coupon-img">
                                                                <img src="https://i.pinimg.com/originals/c7/84/67/c78467db9ff497393cb548a48f02d451.png"
                                                                    alt />
                                                            </div>
                                                            <div class="coupon-vertical"></div>
                                                            <div class="coupon-content">
                                                                <h2>
                                                                    <%= coupon.name %>
                                                                </h2>
                                                                <h1>
                                                                    <%= coupon.discountAmount %>%
                                                                        <span>Coupon</span>
                                                                </h1>
                                                                <p>Valid till <%= coupon.expiryDate %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="coupon-copy-button">
                                                            <% if (coupon.usedUser.toString()===userId.toString()) { %>
                                                                <input id="apply-value" type="text" readonly
                                                                    value="<%= coupon.couponCode %>" />
                                                                <button onclick="removeCoupon('<%= coupon._id %>')"
                                                                    class="coupon-copy-btn">Remove</button>
                                                                <% } else { %>
                                                                    <input id="apply-value" type="text" readonly
                                                                        value="<%= coupon.couponCode %>" />
                                                                    <button onclick="couponApplied('<%= coupon._id %>')"
                                                                        class="coupon-copy-btn">Apply</button>
                                                                    <% } %>
                                                        </div>
                                                    </div> -->
                                                    <h5>No Coupon</h5>

                                                    <% } %>
                                                        <% }); %>
                                                            <% } else { %>
                                                                <div
                                                                    style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
                                                                    <p style="color: #555; margin: 0;">No
                                                                        coupons
                                                                        available at the moment. Check back
                                                                        later!</p>
                                                                </div>
                                                                <% } %>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </section>
        </body>
        <!-- checkout-area start -->

        <section>
            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <form id="checkout-form">
                            <div class="row">
                                <div class="col-lg-9">
                                    <p class="m-3">Select your preferable
                                        address</p>
                                    <div class="row">

                                        <% if (addressData && addressData.address && addressData.address.length> 0) {
                                            addressData.address.forEach((address, index) => { %>
                                            <div class="col-lg-6" style="margin-bottom: 64px;">
                                                <div class="card card-dashboard" onclick="selectAddress(this)">
                                                    <div class="card-body p-0 m-1">
                                                        <input type="radio" class="pl-4 ml-3 mr-1" name="address"
                                                            value='<%= JSON.stringify(address) %>' <%=index===0
                                                            ? 'checked' : '' %> id="">

                                                        <h6 class="m-0 d-inline">Address
                                                            Name</h6>
                                                        <!-- <span class="text-info"
                                                            style="font-size: small;">(default)</span> -->
                                                        <br>
                                                        <div class="pl-5">
                                                            Full Name: <%= address.fullname %><br>
                                                                Mobile: <%= address.mobile %><br>
                                                                    Email: <%= address.email %><br>
                                                                        House Name: <%= address.houseName %><br>
                                                                            City: <%= address.city %><br>
                                                                                State: <%= address.state %><br>
                                                                                    Pincode: <%= address.pincode %><br>
                                                                                        <a
                                                                                            onclick="showEditAddressModal()">Edit
                                                                                            <i class="fa-sharp fa-solid fa-pen"
                                                                                                style="color: #cc9966;"></i></a>
                                                        </div>
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                            </div><!-- End .col-lg-6 -->
                                            <% })} %> <!-- End Address Cards Loop -->
                                    </div><!-- Row end -->
                                    <button class="btn btn-primary" id="addBtn">
                                        Ship to another address</button>

                                    <form action id="addAddressForm" style="display: none;">
                                        <!-- Address Details Form -->
                                    </form>
                                </div><!-- End .col-lg-9 -->

                                <!-- edit Modal -->

                                <div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-top: 80px;">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">edit
                                                    Address</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/editAddress" id="editAddressform" method="post">
                                                    <div class="form-group">
                                                        <label for="fullname">Full
                                                            Name
                                                            *</label>
                                                        <input type="text" class="form-control" name="fullname"
                                                            id="fullnames" required>
                                                        <div id="fnameError" style="display: none; color: red;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="email">Email
                                                            *</label>
                                                        <input type="email" class="form-control" name="email"
                                                            id="emails" required>
                                                        <div id="addEmailError" style="display: none; color: red;">
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="mobile">Mobile
                                                            *</label>
                                                        <input type="tel" class="form-control" name="mobile"
                                                            id="mobiles" required>
                                                        <div id="mobiles" style="display: none; color: red;">
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="state">State
                                                            *</label>
                                                        <input type="text" class="form-control" name="state" id="states"
                                                            required>
                                                        <div id="stateError" style="display: none; color: red;">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="city">City
                                                            *</label>
                                                        <input type="text" class="form-control" name="city" id="citys"
                                                            required>
                                                        <div id="cityError" style="display: none; color: red;">
                                                        </div>

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="pincode">Pincode
                                                            *</label>
                                                        <input type="tel" class="form-control" name="pincode"
                                                            id="pincodes" autocomplete="off" required>
                                                        <div id="pinError" style="display: none; color: red;">
                                                        </div>

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="house">House
                                                            Name *</label>
                                                        <input type="text" class="form-control" name="houseName"
                                                            id="houseNames" required>
                                                        <div id="houseError" style="display: none; color: red;">
                                                        </div>
                                                        <input type="text" class="form-control" style="display: none;"
                                                            id="addressId" name="addressId">
                                                    </div>

                                                    <button id="editAddress" type="submit"
                                                        class="btn btn-outline-primary">
                                                        <span>Add Address</span>
                                                        <i class="icon-long-arrow-right"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title">Your
                                            Order</h3><!-- End .summary-title -->

                                        <table class="table table-summary" id="reloadArea2">
                                            <thead>
                                                <tr>
                                                    <th>Sub Total</th>

                                                    <th>
                                                        ₹<%= totalamount %>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (cartData.couponDiscount !=="undefined" &&
                                                    cartData.couponDiscount> 0) { %>
                                                    <tr style="color: green;">
                                                        <td>Discount:</td>
                                                        <td>
                                                            <span>-</span><%= cartData.couponDiscount %>
                                                        </td>
                                                    </tr>
                                                    <% } %>

                                                        <tr>
                                                            <td>Shipping:</td>
                                                            <td>Free shipping</td>
                                                        </tr>
                                                        <tr class="summary-total">
                                                            <td class="text-primary">Total:</td>
                                                            <td>
                                                                ₹
                                                                <span id="total1">
                                                                    <%= discountAmount%>
                                                                </span>
                                                            </td>
                                                        </tr>
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        <hr class="mt-0">

                                        <div class="accordion-summary" id="accordion-payment">
                                            <div>
                                                <h6>Payment methods</h6>
                                                <div class="payment-methods">
                                                    <label>
                                                        <input type="radio" name="payment" id="razorpay"
                                                            value="onlinePayment" required>
                                                        <span>Online Payments</span>
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="payment" id="wallet" value="wallet"
                                                            checked>
                                                        <span>Wallet</span>
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="payment" id="COD" value="COD" checked>
                                                        <span>Cash on
                                                            Delivery</span>
                                                    </label>
                                                </div>

                                            </div>
                                        </div><!-- End .accordion -->

                                        <button type="submit" style="background-color:#052659 ;" class="btn ">
                                                 <span style="color: white;" class="btn-text">Place
                                                    Order</span>
                                                <span  style="color: white;" class="btn-hover-text">Proceed to
                                                    Checkout</span> 
                                        </button>
                                    </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->

        </section>

        <!-- checkout-area end -->
    </main>

    <script>
        $("#checkout-form").submit(function (e) {
            e.preventDefault();
            console.log('check this');

            const total = $("#total1").text().trim();
            const selectedAddress = $("input[name='address']:checked").val();
            const address = selectedAddress ? JSON.parse(selectedAddress) : {};
            const paymentMethod = $("input[name='payment']:checked").val();

            // Construct form data manually
            const formData = {
                total: total,
                address: address,
                payment: paymentMethod
            };


            console.log(formData, 'checking form data');

            $.ajax({
                url: "/placeOrder",
                method: "POST",
                contentType: 'application/json',
                data: JSON.stringify({ formData }),
                success: (response) => {
                    console.log(response, 'check response');
                    if (response.codsuccess == true) {
                        location.href = `/orderSuccess/${response.orderId}`;
                    } else if (response.stock) {
                        location.reload();
                    } else if (response.placed == true) {
                        console.log(response);
                        location.href = `/orderSuccess/${response.orderId}`;
                    } else if (response.walletFailed == true) {
                        swal.fire({
                            position: "center",
                            icon: "error",
                            title: "Insufficient Balance In Your Wallet",
                            showConfirmButton: false,
                            showCancelButton: false,
                            timer: 1500,
                        });
                    }
                    else if (response.razorpay) {
                        razorPayment(response.order, formData);
                    }
                },
            });
        });


        function razorPayment(order, formData) {
            var options = {
                key: "rzp_test_ewQ5RiYCmaDgeL",
                amount: formData.total,
                currency: "INR",
                name: "Loom Fasion",
                description: "Test Transaction",
                image: "/user/images/icons/logo.png",
                order_id: order.id,
                handler: function (response) {
                    console.log('helooo', response);
                    verifyPayment(response, order);

                },
                prefill: {
                    name: "Loom",
                    email: "loom@gmail.com",
                    contact: "910000000369",
                },
                notes: {
                    address: "Razorpay Corporate Office",
                    orderId: order._id,
                },
                theme: {
                    color: "#c96",
                },
            };

            var rzp1 = new Razorpay(options);
            rzp1.open();
        }


        function verifyPayment(payment, order) {

            const amount2 = document.getElementById("total1").innerHTML;
            const orderId = order.id;
            $.ajax({
                url: "/verify-payment",
                method: "post",
                data: {
                    payment: payment,
                    amount2: amount2,
                    order: order,
                },
                success: (response) => {
                    console.log(response, "response")
                    if (response.placed == true) {
                        console.log(response, 'thie is the place for ordering');
                        window.location.href = `/orderSuccess/${orderId}`;
                        swal.fire({
                            positon: "center",
                            icon: "error",
                            title: "Payment failed",
                            showConfirmButton: false,
                            timer: 1500,
                        });
                    }
                },
            });
        }
    </script>

    <script>
     function couponApplied(couponId) {
    $.ajax({
        url: "/appliCopuon",
        data: { couponId },
        method: "POST",
        success: function (response) {
            if (response.coupon === true) {
                $('#reloadArea').load('/checkout #reloadArea');
                $('#reloadArea2').load('/checkout #reloadArea2');
                Swal.fire({
                    title: "Coupon Applied",
                    text: "Your coupon has been successfully applied.",
                    icon: "success",
                });
            } else if (response.user) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2000,
                });

                Toast.fire({
                    icon: 'success',
                    title: 'Coupon removed. You can apply a new one.'
                });
            } else if (response.limit) {
                Swal.fire({
                    title: "Coupon Limit Reached",
                    text: "This coupon has reached its usage limit.",
                    icon: "warning",
                });
            } else if (response.expired) {
                Swal.fire({
                    title: "Coupon Expired",
                    text: "This coupon has expired.",
                    icon: "warning",
                });
            } else if (response.cartAmount) {
                Swal.fire({
                    title: "Invalid Coupon",
                    text: "Your cart total does not meet the minimum criteria for this coupon.",
                    icon: "warning",
                });
            } else if(response.used){
                Swal.fire({
                    title: "Coupon Used",
                    text: "Only one coupon at a time.",
                    icon: "warning",
                });
            }
            else {
                Swal.fire({
                    title: "Coupon Error",
                    text: "There was an error applying the coupon. Please try again.",
                    icon: "error",
                });
            }
        },
        error: function (error) {
            Swal.fire({
                title: "Coupon Error",
                text: "There was an error applying the coupon. Please try again.",
                icon: "error",
            });
        }
    });
}


        function removeCoupon(couponId) {
            $.ajax({
                url: "/removeCoupon",
                data: { couponId },
                method: "POST",
                success: function (response) {
                    if (response.couponRemove === true) {
                        $('#reloadArea').load('/checkout #reloadArea');
                        $('#reloadArea2').load('/checkout #reloadArea2');
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 2000,
                        })

                        Toast.fire({
                            icon: 'success',
                            title: 'couponremoved.'
                        })
                        setTimeout(() => {
                        }, 2000);

                    }
                }
            })
        }


    </script>

    <script src="/js/profileEdits.js"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <%-include("../layouts/user/footer.ejs")%>