<%-include("../layouts/user/header.ejs")%>

    <style>
        /* Styles for Coupon Card */

        .coupon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100vh;
            background-color: #dc143c; */
        }

        .coupon-card {
            width: 400px;
            height: 248px;
            border-radius: 5px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
            background-color: #fff;
            padding: 10px;
            position: relative;
            margin: 7px;
        }

        .coupon-main,
        .coupon-copy-button {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            align-items: center;
        }

        .coupon-card::after,
        .coupon-card::before {
            position: absolute;
            content: "";
            height: 40px;
            border-radius: 40px;
            z-index: 1;
            width: 40px;
        }

        .coupon-card::after {
            right: -20px;
            top: 70px;
        }

        .coupon-card::before {
            left: -20px;
            top: 70px;
        }

        .coupon-img img {
            width: 100px;
            height: 100px;
        }

        .coupon-vertical {
            border-left: 5px dotted black;
            height: 100px;
            position: absolute;
            left: 40%;
        }

        .coupon-content h1 {
            font-size: 35px;
            margin-left: -20px;
            color: #565656;
        }

        .coupon-content h1 span {
            font-size: 18px;
        }

        .coupon-content h2 {
            font-size: 18px;
            margin-left: -20px;
            color: #565656;
            text-transform: uppercase;
        }

        .coupon-content p {
            font-size: 16px;
            color: #696969;
            margin-left: -20px;
        }

        .coupon-copy-button {
            margin: 6px 0 -5px 0;
            height: 37px;
            border-radius: 4px;
            padding: 0 1px;
            border: 1px solid #e1e1e1;
        }

        .coupon-copy-button input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 15px;
        }

        .coupon-copy-button button {
            padding: 5px 20px;
            background-color: #dc143c;
            color: #fff;
            border: 1px solid transparent;
        }

        .coupon-remove-btn {
            position: absolute;
            bottom: 20px;
            left: 20px;
            background-color: #dc143c;
        }

        .not-accessible {
            opacity: 0.5;
            pointer-events: none;
        }

        @media screen and (max-width: 768px) {
            .coupon-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .coupon-main {
                margin-bottom: 10px;
            }

            .coupon-content {
                font-size: 14px;
            }

            .coupon-copy-button {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    </style>

    <!-- preloader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    <main>

        <!-- breadcrumb-area-start -->
        <section class="breadcrumb-area" data-background="img/bg/page-title.html">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-content" style="flex-direction: column;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb p-0 m-0">
                                    <li class="breadcrumb-item"><a href="cart">Cart</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                                </ol>
                            </nav>
                            <h2 class="cart-title mt-40">Checkout</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- coupon-area start -->

        <body class="couponBody">
            <section class="coupon-area pt-30 pb-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon-accordion">
                                <!-- ACCORDION START -->
                                <h3>Have a coupon? <span id="couponShow">Click here
                                        to get your code</span></h3>
                                <div id="checkout_coupon" class="coupon-checkout-content" style="width: 100%;">
                                    <div class="coupon-info d-flex justify-content-center" id="reloadArea"
                                        style="overflow: auto;">
                                        <% if (couponData && couponData.length> 0 )
                                            { %>
                                            <% couponData.forEach(function (coupon) { %>
                                                <div class="coupon-container">
                                                    <div class="coupon-card " data-coupon-id="<%= coupon._id %>">
                                                        <div class="coupon-main">
                                                            <div class="coupon-img">
                                                                <img src="https://i.pinimg.com/originals/c7/84/67/c78467db9ff497393cb548a48f02d451.png"
                                                                    alt />
                                                            </div>
                                                            <div class="coupon-content">
                                                                <h2>
                                                                    <%= coupon.name %>
                                                                </h2>
                                                                <span>Criteria Amount: <%= coupon.criteriaAmount %>
                                                                </span>
                                                                <h1>
                                                                    <%= coupon.discountAmount %>%
                                                                        <span>Coupon</span>
                                                                </h1>
                                                                <p>Valid till <%= coupon.expiryDate %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="coupon-copy-button">
                                                            <% if (cartData && cartData.couponDiscount &&
                                                                coupon._id.toString()===cartData.couponDiscount.toString())
                                                                { %>
                                                                <input id="apply-value" type="text" readonly
                                                                    value="<%= coupon.couponCode %>" />
                                                                <button onclick="removeCoupon('<%= coupon._id %>')"
                                                                    class="coupon-copy-btn">Remove</button>
                                                                <% } else { %>
                                                                    <input id="apply-value" type="text" readonly
                                                                        value="<%= coupon.couponCode %>" />
                                                                    <button onclick="couponApplied('<%= coupon._id %>')"
                                                                        class="coupon-copy-btn">Apply</button>
                                                                    <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }); %>
                                                    <% } else { %>
                                                        <div
                                                            style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
                                                            <p style="color: #555; margin: 0;">No
                                                                coupons available at the moment.
                                                                Check back later!</p>
                                                        </div>
                                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </body>
        <!-- checkout-area start -->

        <section id="reloadAreaAddress">
            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <form id="checkout-form">
                            <div class="row">
                                <div class="col-lg-9">
                                    <p class="m-3">Select your preferable
                                        address</p>
                                    <div class="row" >

                                        <% if (addressData && addressData.address && addressData.address.length> 0) {
                                            addressData.address.forEach((address,
                                            index) => { %>
                                            <div class="col-lg-6" style="margin-bottom: 64px;">
                                                <div class="card card-dashboard">
                                                    <div class="card-body p-0 m-1" >
                                                        <input type="radio" class="pl-4 ml-3 mr-1" name="address"
                                                            value='<%= JSON.stringify(address) %>' <%=index===0
                                                            ? 'checked' : '' %>
                                                        id="">

                                                        <h6 class="m-0 d-inline">Address
                                                            Name</h6>
                                                        <!-- <span class="text-info"
                                                            style="font-size: small;">(default)</span> -->
                                                        <br>
                                                        <div class="pl-5">
                                                            Full Name: <%= address.fullname %><br>
                                                                Mobile: <%= address.mobile %><br>
                                                                    Email: <%= address.email %><br>
                                                                        House Name: <%= address.houseName %><br>
                                                                            City: <%= address.city %><br>
                                                                                State: <%= address.state %><br>
                                                                                    Pincode: <%= address.pincode %><br>
                                                                                        <a
                                                                                        onclick="showEditAddressModal('<%= address.fullname %>','<%= address.mobile %>','<%= address.email %>','<%= address.houseName %>','<%= address.city %>','<%= address.state %>','<%= address.pincode %>','<%= address._id %>')"
                                                                                        >Edit
                                                                                            <i class="fa-sharp fa-solid fa-pen"
                                                                                                style="color: #cc9966;"></i></a>
                                                        </div>
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                            </div><!-- End .col-lg-6 -->
                                            <% })} %>
                                                <!-- End Address Cards Loop -->
                                    </div><!-- Row end -->
                                    <button class="btn" type="button" style="background-color: #6895D2; color: white;"
                                        data-toggle="modal" data-target="#addAddressModal">
                                        Add another address</button>

                                </div><!-- End .col-lg-9 -->
                                <!-- Add Address Modal -->
                                <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-top: 80px;">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add
                                                    Address</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="form" class="row gx-2">
                                                    <div class="row col-md-12">
                                                        <div class="form-group col-md-6">
                                                            <label for="fullname">Full
                                                                Name *</label>
                                                            <input type="text" class="form-control" name="fullname"
                                                                id="fullname">
                                                            <p id="fnameError" style="display: none; color: red;">
                                                            </p>
                                                        </div>

                                                        <div class="form-group col-md-6">
                                                            <label for="mobile">Mobile
                                                                *</label>
                                                            <input type="tel" class="form-control" name="mobile"
                                                                id="mobile" autocomplete="off">
                                                            <div id="phoneError" style="display: none; color: red;">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <label for="email">Email
                                                            *</label>
                                                        <input type="email" class="form-control" name="email"
                                                            id="addressEmail">
                                                        <div id="addEmailError" style="display: none; color: red;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <label for="house">House
                                                            Name *</label>
                                                        <input type="text" class="form-control" name="houseName"
                                                            id="houseName">
                                                        <div id="houseError" style="display: none; color: red;"></div>
                                                    </div>
                                                    <div class="row col-md-12">
                                                        <div class="form-group col-md-4">
                                                            <label for="state">State
                                                                *</label>
                                                            <input type="text" class="form-control" name="state"
                                                                id="state">
                                                            <div id="stateError" style="display: none; color: red;">
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-4">
                                                            <label for="city">City
                                                                *</label>
                                                            <input type="text" class="form-control" name="city"
                                                                id="city">
                                                            <div id="cityError" style="display: none; color: red;">
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-4">
                                                            <label for="pincode">Pincode
                                                                *</label>
                                                            <input type="tel" class="form-control" name="pincode"
                                                                id="pincode" autocomplete="off">
                                                            <div id="pinError" style="display: none; color: red;"></div>
                                                        </div>

                                                        <div class="form-group col-md-12">
                                                            <button id="submitAddress" type="submit" class="btn "
                                                                style="background-color: #506685;  ">
                                                                <span style="color: white;">Add
                                                                    Address</span>
                                                                <i class="icon-long-arrow-right"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- edit Modal -->

                                <div class="modal fade " id="editAddressModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-top: 80px;">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit
                                                    Address</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body ">
                                                <form id="editAddressform" class="row gx-2">
                                                    <div class="form-group col-md-6">
                                                        <label for="fullname">Full
                                                            Name *</label>
                                                            <input type="text" class="form-control" name="fullnames" id="fullnames">
                                                        <p id="editFnameError" style="display: none; color: red;"></p>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="mobile">Mobile
                                                            *</label>
                                                        <input type="tel" class="form-control" name="mobiles"
                                                            id="mobiles">
                                                        <div id="editMobiles" style="display: none; color: red;"></div>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <label for="email">Email
                                                            *</label>
                                                        <input type="email" class="form-control" name="emails"
                                                            id="emails">
                                                        <div id="editAddEmailError" style="display: none; color: red;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <label for="house">House
                                                            Name *</label>
                                                        <input type="text" class="form-control" name="houseNames"
                                                            id="houseNames">
                                                        <div id="editHouseError" style="display: none; color: red;">
                                                        </div>
                                                        <input type="text" class="form-control" style="display: none;"
                                                            id="editAddressId" name="editAddressId">
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        <label for="state">State
                                                            *</label>
                                                        <input type="text" class="form-control" name="states"
                                                            id="states">
                                                        <div id="editStateError" style="display: none; color: red;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        <label for="city">City
                                                            *</label>
                                                        <input type="text" class="form-control" name="citys" id="citys">
                                                        <div id="editCityError" style="display: none; color: red;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        <label for="pincode">Pincode
                                                            *</label>
                                                        <input type="tel" class="form-control" name="pincodes"
                                                            id="pincodes" autocomplete="off">
                                                        <div id="editPinError" style="display: none; color: red;"></div>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <button id="editAddress" type="submit"
                                                            class="btn btn-outline-primary"
                                                            style="background-color: #506685;  ">
                                                            <span style="color: white;">Add
                                                                Address</span>
                                                            <i class="icon-long-arrow-right"></i>
                                                        </button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title">Your
                                            Order</h3>

                                        <table class="table table-summary" id="reloadArea2">
                                            <thead>
                                                <tr>
                                                    <th>Sub Total</th>

                                                    <th>
                                                        ₹<%= cartTotal %>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (cartData.couponDiscount !==null && couponDiscountAmount> 0 ) { %>
                                                    <tr style="color: green;">
                                                        <td>Discount:</td>
                                                        <td>
                                                            <span>-</span>
                                                            <%= couponDiscountAmount %>
                                                        </td>
                                                    </tr>
                                                    <% } %>

                                                        <tr>
                                                            <td>Shipping Fee:</td>
                                                            <td>
                                                                <% if (totalamount <=1300) { %>
                                                                    ₹<span id="shippingAmount">
                                                                        <%= `${shippingAmount}` %>
                                                                    </span>

                                                                    <% } else { %>
                                                                        Free shipping
                                                                        <% } %>
                                                            </td>
                                                        </tr>

                                                        <tr class="summary-total">
                                                            <td class="text-primary">Total:</td>
                                                            <td>
                                                                ₹
                                                                <span>
                                                                    <%= totalamount %>
                                                                </span>
                                                            </td>
                                                        </tr>
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        <hr class="mt-0">

                                        <div class="accordion-summary" id="accordion-payment">
                                            <div>
                                                <!-- <h6>Shipping Method</h6>
                                                <div class="payment-methods">
                                                    <label>
                                                        <span style=" margin-right: 30px;">Free Shipping</span><span>Free</span>
                                                    </label>
                                                
                                                    <label>
                                                        <span>Shipping Fee</span>
                                                    </label>
                                                </div> -->

                                                <!-- Display the shipping charge area based on the selected shipping method -->
                                                <div id="shippingChargeArea" style="display: none;">
                                                    <p>Shipping Charge: ₹<span id="shippingChargeValue">0</span></p>
                                                </div>
                                            </div>

                                            <div>
                                                <h6>Payment methods</h6>
                                                <div class="payment-methods">
                                                    <label>
                                                        <input type="radio" name="payment" id="razorpay"
                                                            value="onlinePayment">
                                                        <span>Online
                                                            Payments</span>
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="payment" id="wallet" value="wallet"
                                                            checked>
                                                        <span>Wallet</span>
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="payment" id="COD" value="COD" checked>
                                                        <span>Cash on
                                                            Delivery</span>
                                                    </label>
                                                </div>

                                            </div>
                                        </div><!-- End .accordion -->

                                        <button type="submit" style="background-color:#052659 ;" class="btn ">
                                            <span style="color: white;" class="btn-text">Place
                                                Order</span>
                                            <span style="color: white;" class="btn-hover-text">Proceed
                                                to
                                                Checkout</span>
                                        </button>
                                    </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->

        </section>

        <!-- checkout-area end -->
    </main>

    <script>

        $("#checkout-form").submit(function (e) {
            e.preventDefault();
            const selectedAddress = $("input[name='address']:checked").val();

            const address = selectedAddress ? JSON.parse(selectedAddress) : {};
            const paymentMethod = $("input[name='payment']:checked").val();


            const formData = {
                address: address,
                payment: paymentMethod,
            };

            $.ajax({
                url: "/placeOrder",
                method: "POST",
                contentType: 'application/json',
                data: JSON.stringify({ formData }),
                success: (response) => {
                    if (response.maxAmount) {
                        toastr.warning('Product price exceeds 1500. Please review your order.');
                    } else if (response.codsuccess == true) {
                        location.href = `/orderSuccess/${response.orderId}`;
                    } else if (response.stock) {
                        location.reload();
                    } else if (response.placed == true) {
                        toastr.success('Order placed successfully!');
                        console.log(response);
                        location.href = `/orderSuccess/${response.orderId}`;
                    } else if (response.walletFailed == true) {
                        toastr.error('Insufficient balance in your wallet');
                    } else if (response.razorpay) {
                        razorPayment(response.order, formData);
                    } else if (response.pending) {
                        toastr.error('Payment Failed');
                    }
                },
            });
        });


        function razorPayment(order, formData) {
            var options = {
                key: "rzp_test_ewQ5RiYCmaDgeL",
                amount: formData.total,
                currency: "INR",
                name: "Loom Fahsion",
                description: "Test Transaction",
                image: "/user/images/icons/logo.png",
                order_id: order.id,
                handler: function (response) {
                    console.log('helooo', response);
                    verifyPayment(response, order);

                },
                prefill: {
                    name: "Loom",
                    email: "loom@gmail.com",
                    contact: "910000000369",
                },
                notes: {
                    address: "Razorpay Corporate Office",
                    orderId: order._id,
                },
                theme: {
                    color: "#c96",
                },
            };

            var rzp1 = new Razorpay(options);
            rzp1.open();
        }


        function verifyPayment(payment, order) {
            console.log('edasasaaaaaaaaaaaa');

            const orderId = order.id;
            $.ajax({
                url: "/verify-payment",
                method: "post",
                data: {
                    payment: payment,
                    order: order,
                },
                success: (response) => {
                    console.log(response, "response")
                    if (response.placed == true) {
                        console.log(response, 'thie is the place for ordering');
                        window.location.href = `/orderSuccess/${orderId}`;
                        swal.fire({
                            positon: "center",
                            icon: "error",
                            title: "Payment failed",
                            showConfirmButton: false,
                            timer: 1500,
                        });
                    }
                },
            });
        }
    </script>


    <script>
        function couponApplied(couponId) {
            $.ajax({
                url: "/appliCopuon",
                data: { couponId },
                method: "POST",
                success: function (response) {
                    if (response.coupon === true) {
                        $('#reloadArea').load('/checkout #reloadArea');
                        $('#reloadArea2').load('/checkout #reloadArea2');
                        toastr.success(response.message);
                    } else if (response.user) {
                        toastr.warning(response.message);

                    } else if (response.limit) {
                        toastr.warning(response.message);
                    } else if (response.expired) {
                        toastr.warning(response.message);
                    } else if (response.cartAmount) {
                        toastr.warning(response.message);
                    } else if (response.used) {
                        toastr.warning(response.message);
                    } else {
                        toastr.error(response.message);
                    }
                },
                error: function (error) {
                    toastr.error('Error applying coupon. Please try again.');
                }
            });
        }


        function removeCoupon(couponId) {
            $.ajax({
                url: "/removeCoupon",
                data: { couponId },
                method: "POST",
                success: function (response) {
                    if (response.couponRemove === true) {
                        $('#reloadArea').load('/checkout #reloadArea');
                        $('#reloadArea2').load('/checkout #reloadArea2');
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 2000,
                        })

                        Toast.fire({
                            icon: 'success',
                            title: 'couponremoved.'
                        })
                        setTimeout(() => {
                        }, 2000);

                    }
                }
            })
        }


    </script>

    <script>
        document.getElementById("submitAddress").addEventListener("click", function (e) {
            e.preventDefault();


            const fullname = document.getElementById('fullname').value;
            const pincode = document.getElementById('pincode').value;
            const phone = document.getElementById('mobile').value;
            const addressEmail = document.getElementById('addressEmail').value;
            const houseName = document.getElementById('houseName').value;
            const city = document.getElementById('city').value;
            const state = document.getElementById('state').value;
            const efnameError = document.getElementById('fnameError');
            const epinError = document.getElementById('pinError');
            const ephoneError = document.getElementById('phoneError');
            const eaddEmailError = document.getElementById('addEmailError');
            const ehouseError = document.getElementById('houseError');
            const ecityError = document.getElementById('cityError');
            const estateError = document.getElementById('stateError');
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            const mobilePattern = /^\d{10}$/;
            const namePattern = /^[a-zA-Z\s]+$/;
            const pincodePattern = /^\d{6}$/;

            // Clear existing error messages
            efnameError.style.display = "none";
            epinError.style.display = "none";
            ephoneError.style.display = "none";
            eaddEmailError.style.display = "none";
            ehouseError.style.display = "none";
            ecityError.style.display = "none";
            estateError.style.display = "none";

            // Validate the form
            if (fullname.trim() === "") {
                efnameError.style.display = "block";
                efnameError.textContent = "Name is required.";
            } else if (!namePattern.test(fullname)) {
                efnameError.style.display = "block";
                efnameError.textContent = "Full name cannot contain non-alphabetic characters.";
            } else if (fullname.length < 3) {
                efnameError.style.display = "block";
                efnameError.textContent = "Full name must contain at least 3 letters.";
            } else if (pincode.trim() === "") {
                epinError.style.display = "block";
                epinError.textContent = "Pincode is required.";
            } else if (!pincodePattern.test(pincode)) {
                epinError.style.display = "block";
                epinError.textContent = "Enter a valid pincode.";
            } else if (phone.trim() === "") {
                ephoneError.style.display = "block";
                ephoneError.textContent = "Phone number is required.";
            } else if (!mobilePattern.test(phone) || phone === "0000000000") {
                ephoneError.style.display = "block";
                ephoneError.textContent = "Enter a valid 10-digit phone number.";
            } else if (addressEmail.trim() === "") {
                eaddEmailError.style.display = "block";
                eaddEmailError.textContent = "Email is required.";
            } else if (!emailPattern.test(addressEmail)) {
                eaddEmailError.style.display = "block";
                eaddEmailError.textContent = "Enter a valid email address.";
            } else if (houseName.trim() === "") {
                ehouseError.style.display = "block";
                ehouseError.textContent = "House name is required.";
            } else if (city.trim() === "") {
                ecityError.style.display = "block";
                ecityError.textContent = "City name is required.";
            } else if (state.trim() === "") {
                estateError.style.display = "block";
                estateError.textContent = "State name is required.";
            } else {
                $.ajax({
                    url: "/addAddress",
                    data: {
                        fullname: fullname,
                        mobile: phone,
                        email: addressEmail,
                        houseName: houseName,
                        city: city,
                        state: state,
                        pincode: pincode,
                    },
                    method: "post",
                    success: (response) => {
                        if (response.success) {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 1500,
                            });

                            Toast.fire({
                                icon: "success",
                                title: "Address added"
                            });
                            $('#addAddressModal').modal('hide');
                            $('#addAddressModal').on('hidden.bs.modal', function (e) {
                                $(this).remove();
                            });

                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();

                            $('#reloadAreaAddress').load('/checkout #reloadAreaAddress');
                        } else {
                            console.error('Failed to add address.');
                        }
                    },
                });
            }

        });





        document.getElementById('editAddress').addEventListener('click', function (e) {
            e.preventDefault()
            console.log("Edit address check")
            const id = document.getElementById('editAddressId').value;
            console.log('id',id);
            const fullname = document.getElementById('fullnames').value;
            const pin = document.getElementById('pincodes').value;
            const phone = document.getElementById('mobiles').value;
            const addressEmail = document.getElementById('emails').value;
            const houseName = document.getElementById('houseNames').value;
            const city = document.getElementById('citys').value;
            const state = document.getElementById('states').value;


            const fnameError = document.getElementById('editFnameError');
            const pinError = document.getElementById('editPinError');
            const phoneError = document.getElementById('editMobiles');
            const addEmailError = document.getElementById('editAddEmailError');
            const houseError = document.getElementById('editHouseError');
            const cityError = document.getElementById('editCityError');
            const stateError = document.getElementById('editStateError');
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            const mobilePattern = /^\d{10}$/;
            const namePattern = /^[a-zA-Z\s]+$/;
            const pincodePattern = /^\d{6}$/;
            if (fullname.trim() === "") {
                fnameError.style.display = "block";
                fnameError.textContent = "Name is required.";
            } else if (!namePattern.test(fullname)) {
                fnameError.style.display = "block";
                fnameError.textContent = "Full name should not contain non-alphabetic characters.";
            } else if (fullname.length < 3) {
                fnameError.style.display = "block";
                fnameError.textContent = "Full name should contain at least 3 letters.";
            } else if (pin.trim() === "") {
                pinError.style.display = "block";
                pinError.textContent = "Pincode is required.";
            } else if (!pincodePattern.test(pin)) {
                pinError.style.display = "block";
                pinError.textContent = "Enter a valid pincode.";
            } else if (phone.trim() === "") {
                phoneError.style.display = "block"; console.log('halloooo1',);
                phoneError.textContent = "Phone number is required.";
            } else if (mobilePattern.test(phone) || phone === "0000000000") {
                console.log('hakkooooo',);
                phoneError.style.display = "block";
                phoneError.textContent = "Enter a valid 10-digit phone number.";
            } else if (addressEmail.trim() === "") {
                addEmailError.style.display = "block";
                addEmailError.textContent = "Email is required.";
            } else if (!emailPattern.test(addressEmail)) {
                addEmailError.style.display = "block";
                addEmailError.textContent = "Enter a valid email address.";
            } else if (houseName.trim() === "") {
                houseError.style.display = "block";
                houseError.textContent = "House name is required.";
            } else if (city.trim() === "") {
                cityError.style.display = "block";
                cityError.textContent = "City name is required.";
            } else if (state.trim() === "") {
                stateError.style.display = "block";
                stateError.textContent = "State name is required.";
            } else {

                $.ajax({
                    url: "/editAddress",
                    data: {
                        fullname: fullname,
                        email: addressEmail,
                        mobile: phone,
                        houseName: houseName,
                        city: city,
                        state: state,
                        pincode: pin,
                        id: id
                    },
                    method: "post",
                    success: (response) => {

                        console.log(response, 'check the responce')
                        if ((response.success)) {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 1500,
                            });

                            Toast.fire({
                                icon: "success",
                                title: "Address added"
                            });
                            $('#editAddressModal').modal('hide');
                            $('#editAddressModal').on('hidden.bs.modal', function (e) {
                                $(this).remove();
                            });

                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();

                            $('#reloadAreaAddress').load('/checkout #reloadAreaAddress');
                        } else {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 2000,
                            })

                            Toast.fire({
                                icon: 'error',
                                title: 'Oops !! try again.'
                            })
                        }
                    },
                });
            }
        });


        function showEditAddressModal(fullname, mobile, email, houseName, city, state, pincode, addressId) {
    
    document.getElementById('fullnames').value = fullname;
    
    document.getElementById('emails').value = email;
    document.getElementById('mobiles').value = mobile;
    document.getElementById('states').value = state;
    document.getElementById('citys').value = city;
    document.getElementById('pincodes').value = pincode;
    document.getElementById('houseNames').value = houseName;
    document.getElementById('editAddressId').value = addressId;

    $('#editAddressModal').modal('show');
}






    </script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <%-include("../layouts/user/footer.ejs")%>