<%- include('../layouts/user/header.ejs') -%>

    <!-- Navabar end -->

    <body>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>

        <!-- slider section start -->
        <section class="slider">
            <div class="slider-active">
                <% bannerData.forEach(function(banner, index) { %>
                    <div class="single-slider d-flex align-items-center h-950" data-background="/admin/bannerImg/images/<%= banner.image %>">
                        <div class="container">
                            <div class="single-slider-inner d-flex align-items-center justify-content-start">
                                <div class="single-slider-content text-left light-content">
                                    <div class="slider-heading">
                                        <h2 class="mb-0" data-animation="fadeInUp" data-delay=".2s"><%= banner.title %></h2>
                                        <!-- Additional heading or content from banner data can be added here -->
                                    </div>
                                    <div class="slider-desc" data-animation="fadeInUp" data-delay=".6s">
                                        <p class="mt-35 mb-0"><%= banner.description %></p>
                                    </div>
                                    <div class="slider-link" data-animation="fadeInUp" data-delay=".8s">
                                        <!-- Adjust the link based on your banner data -->
                                        <a href="<%= banner.link %>" class="generic-btn mt-70 red-hover-btn text-uppercase">Discover now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </section>
        
        <!-- slider section end -->

        <!-- category section start -->
        <!-- <section class="category mt-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 left-category">
                        <div class="category-box">
                            <div class="category-wrapper">
                                <div class="category-img">
                                    <img src="img/banner/categorie_1.jpg" class="w-100" alt>
                                </div>
                                <div class="category-content">
                                    <a href="shop2.html" class="title">Clothing</a>
                                    <p class="category-item">(<span>8</span>
                                        items)</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                                <div class="row">
                                    <div class="col-12 mb-27">
                                        <div class="category-box">
                                            <div class="category-wrapper">
                                                <div class="category-img">
                                                    <img src="img/banner/categorie_2.jpg" class="w-100" alt>
                                                </div>
                                                <div class="category-content">
                                                    <a href="shop2.html" class="title">Handbag</a>
                                                    <p class="category-item">(<span>20</span>
                                                        items)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="category-box">
                                            <div class="category-wrapper">
                                                <div class="category-img">
                                                    <img src="img/banner/categorie_3.jpg" class="w-100" alt>
                                                </div>
                                                <div class="category-content">
                                                    <a href="shop2.html" class="title">Sneaker</a>
                                                    <p class="category-item">(<span>11</span>
                                                        items)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 category-right">
                                <div class="category-box">
                                    <div class="category-wrapper">
                                        <div class="category-img">
                                            <img src="img/banner/categorie_4.jpg" class="w-100" alt>
                                        </div>
                                        <div class="category-content">
                                            <a href="shop2.html" class="title">Women</a>
                                            <p class="category-item">(<span>17</span>
                                                items)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section> -->
        <!-- category section end -->

        <!-- prodect pages -->

        <div class="tab-content mt-25">
            <div class="tab-pane fade show active" id="main-tab-1">

                <div class="main-product-carousel owl-carousel red-nav">
                    <% productData.forEach((product)=> { %>
                        <div class="main-product-carousel-item">
                            <div class="col-12">
                                <div class="product-box mb-40">
                                    <div class="product-box-wrapper">
                                        <div class="product-img">
                                            <img src="/products/crops/<%= product.images.image1 %>" class="w-100" alt="<%= product.name %>" loading="lazy">
                                            <a href="/product?id=<%= product._id %>" class="d-block">
                                                <div class="second-img">
                                                    <img src="/products/crops/<%= product.images.image1 %>" alt="<%= product.name %>" class="w-100" loading="lazy">
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)" class="product-img-link quick-view-1 text-capitalize">Quick view</a>
                                        </div>
                                        

                                        <div class="product-desc pb-20">
                                            <div class="product-desc-top">
                                                <div class="categories">

                                                    <a href="" class="product-category">
                                                        <span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <a onclick="addToWishlist('<%= product._id%>')" class="wishlist float-right">
                                                    <span><i class="fal fa-heart"></i></span>
                                                </a>
                                            </div>
                                            <a href="<% product._id %>" class="product-title">
                                                <%= product.name %>
                                            </a>
                                            <div class="price-switcher">
                                                <span class="price switcher-item">₹&nbsp;<%= product.price %>
                                                        </span>
                                                <a  onclick="addToCart('<%= product._id %>')" class="add-cart text-capitalize switcher-item">+add
                                                    to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>

                <div class="text-center mt-10  load-btn">
                    <a href="shop" class="load-more">LOAD MORE...</a>
                </div>
            </div>
        </div>
        </div>
        </section>
        <!-- main product sections end -->



       

        <!-- startup popup start -->
        <section id="startup-popup" class="d-none">
            <div class="product-popup-overlay has-startup" style="opacity: 1;visibility: visible"></div>
            <div class="startup-popup-body">
                <div class="startup-body-content h-100">
                    <div class="row justify-content-end h-100">
                        <div class="col-6 h-100">
                            <div class="startup-popup-inner h-100">
                                <div class="close-search-popup">
                                    <i class="fal fa-times"></i>
                                </div>
                                <div class="startup-popup-main-content">
                                    <h2>Get Our Email Letter</h2>
                                    <p class="mb-0">Subscribe to the Mazia store mailing
                                        list to receive updates on new
                                        arrivals, special offers
                                        and other discount information.</p>
                                    <div class="startup-subscribe-form">
                                        <form action="#" method="POST">
                                            <input type="text" placeholder="Subscribe to our newsletter" class="mb-30">
                                            <button class="generic-btn red-hover-btn text-uppercase">Subscribe
                                                now</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="startup-popup-sub-content">
                                    <div class="popup-warning">
                                        <input type="checkbox" id="startup-popup-hidden">
                                        <label for="startup-popup-hidden">Do not show
                                            the popup again</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- startup popup end -->

       <%- include('../layouts/user/footer.ejs') %>