<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mazia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/mixitup@3"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/mixitup@3"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- For the profile -->
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />


    <link rel="stylesheet" href="/css/app.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/bootstrap.min order.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/meanmenu.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">


    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />




</head>

<body>

    <!-- header section start -->
    <header class="header pt-30 pb-30  header-sticky header-static"
        style="padding-top: 30px; padding-bottom: 15px; top: 0px;">
        <div class="container-fluid">
            <div class="header-nav position-relative">
                <div class="row align-items-center">


                    <div class="col-xl-5 col-lg-6 hidden-md position-static">
                        <div class="header-nav">
                            <nav>
                                <ul>
                                    <li><a href="/home" class="active"><span>Home </span></a>


                                    </li>
                                    <li class="position-static"><a href="/shop"><span>Shop </span></a>
                                        <!-- <div class="mega-menu">
                                                <div class="col-xl-7 pl-0 position-static">
                                                    <ul>
                                                        <li><a href="/shop">Shop </a></li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                    </li>
                                    <li><a href=""><span>Blog <i class="fal fa-angle-down"></i></span> </a>
                                        <!-- <li><a href="javascript:void(0)"><span>Blog <i class="fal fa-angle-down"></i></span> </a> -->
                                        <!-- <ul class="submenu">
                                                <li><a href="blog.html">Grid layout</a></li>
                                                <li><a href="blog2.html">Large image</a></li>
                                                <li><a href="blog3.html">Left Sidebar</a></li>
                                                <li><a href="blog4.html">Right Sidebar</a></li>
                                                <li><a href="blog5.html">No sidebar</a></li>
                                            </ul> -->
                                    </li>
                                    <li><a href="javascript:void(0)"><span>Portfolio <i
                                                    class="fal fa-angle-down"></i></span> </a>
                                        <!-- <ul class="submenu">
                                                <li><a href="portfolio.html">Single project</a></li>
                                                <li><a href="portfolio2.html">Two Columns</a></li>
                                                <li><a href="portfolio3.html">Three Columns</a></li>
                                            </ul> -->
                                    </li>
                                    <li><a href="javascript:void(0)"><span>Page</span> <i
                                                class="fal fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="question.html">Frequently Questions</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/contact"><span>Contact</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-3">
                        <div class="logo">
                            <a href="index3.html"><img src="img/logo/logo1.png" alt=""></a>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9">
                        <div class="header-right">

                            <ul class="text-right">

                                <% if (locals.user) { %>
                                    <li><a href="/logout" class="account"><i class="fal fa-user-friends"></i>
                                            <article class="account-registar d-inline-block" onclick="confirmLogout()">
                                                LogOut</article>
                                        </a></li>


                                    <% } else { %>
                                        <li><a href="login" class="account"><i class="fal fa-user-friends"></i>
                                                <article class="account-registar d-inline-block">Login/Signup</article>
                                            </a></li>
                                        <% } %>
                                            <li><a href="javascript:void(0)"><i class="fal fa-search"></i></a>

                                                <!-- search popup -->
                                                <div id="search-popup">
                                                    <div class="close-search-popup">
                                                        <i class="fal fa-times"></i>
                                                    </div>
                                                    <div class="search-popup-inner mt-135">
                                                        <div class="search-title text-center">
                                                            <h2>Search</h2>
                                                        </div>

                                                        <div class="search-content pt-55">
                                                            <ul class="text-center">
                                                                <li><a href="javascript:void(0)" class="active">All
                                                                        categories</a>
                                                                </li>
                                                                <li><a href="javascript:void(0)">Clothing</a></li>
                                                                <li><a href="javascript:void(0)">Gift Cards</a></li>
                                                                <li><a href="javascript:void(0)">Handbag</a></li>
                                                                <li><a href="javascript:void(0)">Kids</a></li>
                                                                <li><a href="javascript:void(0)">Shoes</a></li>
                                                                <li><a href="javascript:void(0)">Sneaker</a></li>
                                                                <li><a href="javascript:void(0)">Women</a></li>
                                                            </ul>

                                                            <div class="search-form mt-35">
                                                                <form action="#" method="post">
                                                                    <input type="text" placeholder="Search Products...">
                                                                    <button type="submit"><i
                                                                            class="fal fa-search"></i></button>
                                                                </form>
                                                            </div>

                                                            <div class="search-result-list">
                                                                <ul class="text-left">
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/1.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">ELLE
                                                                                - Recliner syntheti chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/2.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">RIMINI - Folding
                                                                                leather deck
                                                                                chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/3.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">LANDSCAPE - Folding
                                                                                fabric deck
                                                                                chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/1.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">ELLE
                                                                                - Recliner syntheti chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/2.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">RIMINI - Folding
                                                                                leather deck
                                                                                chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/3.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">LANDSCAPE - Folding
                                                                                fabric deck
                                                                                chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </li>
                                            <li><a href="wishlist" data-toggle="tooltip" data-placement="bottom"
                                                    title="" data-original-title="view wishlist"><i
                                                        class="fal fa-heart"><span>0</span></i></a></li>


                                            <!-- Your HTML code ... -->

                                            <% if (locals.user) { %>
                                                <li>
                                                    <a href="cart">
                                                        <i class="fal fa-shopping-bag">
                                                            <span>
                                                                <%= cartCount %>
                                                            </span>
                                                        </i>
                                                    </a>

                                                </li>
                                                <% } else { %>
                                                    <li>
                                                        <a href="cart">
                                                            <i class="fal fa-shopping-bag">
                                                                <span>
                                                                    Cart
                                                                </span>
                                                            </i>
                                                        </a>

                                                    </li>
                                                    <% } %>

                                                        <!-- Your HTML code ... -->
                                                        <!-- <div class="minicart">
                                                            <div class="minicart-body">
                                                                <div class="minicart-content">
                                                                    <ul class="text-left">
                                                                        <li>
                                                                            <div class="minicart-img">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0"><img
                                                                                        src="img/product/1.jpg"
                                                                                        class="w-100" alt=""></a>
                                                                            </div>
                                                                            <div class="minicart-desc">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0">Capitalize on
                                                                                    low hanging fruit t</a>
                                                                                <strong>1 × $250.00</strong>
                                                                            </div>
                                                                            <div class="remove">
                                                                                <i class="fal fa-times"></i>
                                                                            </div>
                                                                        </li>

                                                                        <li>
                                                                            <div class="minicart-img">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0"><img
                                                                                        src="img/product/2.jpg"
                                                                                        class="w-100" alt=""></a>
                                                                            </div>
                                                                            <div class="minicart-desc">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0">Leather
                                                                                    Courriere duffle ba</a>
                                                                                <strong>1 × $150.00</strong>
                                                                            </div>
                                                                            <div class="remove">
                                                                                <i class="fal fa-times"></i>
                                                                            </div>
                                                                        </li>


                                                                        <li>
                                                                            <div class="minicart-img">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0"><img
                                                                                        src="img/product/3.jpg"
                                                                                        class="w-100" alt=""></a>
                                                                            </div>
                                                                            <div class="minicart-desc">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0">Party Supplies
                                                                                    Around Cupcake</a>
                                                                                <strong>1 × $150.00</strong>
                                                                            </div>
                                                                            <div class="remove">
                                                                                <i class="fal fa-times"></i>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="minicart-checkout">
                                                                <div
                                                                    class="minicart-checkout-heading mt-8 mb-25 overflow-hidden">
                                                                    <strong class="float-left">Subtotal:</strong>
                                                                    <span class="price float-right">503.00</span>
                                                                </div>
                                                                <div class="minicart-checkout-links">
                                                                    <a href="cart.html"
                                                                        class="generic-btn black-hover-btn text-uppercase w-100 mb-20">View
                                                                        cart</a>
                                                                    <a href="checkout.html"
                                                                        class="generic-btn black-hover-btn text-uppercase w-100 mb-20">Checkout</a>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                        </li>
                                                        <li><a href="javascript:void(0)"><i
                                                                    class="fal fa-align-right"></i></a>
                                                            <ul class="submenu bold-content text-right">
                                                                <li><a href="userProfile">My Account</a></li>
                                                                <li><a href="checkout.html">Checkout</a></li>
                                                                <li><a href="shop.html">Shop</a></li>
                                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                                <li><a href="question.html">Frequently</a></li>
                                                            </ul>
                                                        </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu visible-sm">
                <div id="mobile-menu">
                    <ul>
                        <li><a class="pl-3" href="javascript:void(0)">Home</a>
                            <ul class="pl-4">
                                <li><a href="index.html">Home Fashion 1</a></li>
                                <li><a href="index2.html">Home Fashion 2</a></li>
                                <li><a href="index3.html">Home Fashion 3</a></li>
                                <li><a href="index4.html">Home Fashion 4</a></li>
                                <li><a href="index5.html">Home Fashion 5</a></li>
                                <li><a href="index6.html">Home Fashion 6</a></li>
                                <li><a href="index7.html">Home Fashion 7</a></li>

                            </ul>
                        </li>
                        <li><a class="pl-3" href="javascript:void(0)">Shop</a>
                            <ul>
                                <li><a href="shop.html">Shop Layout</a></li>
                                <li><a href="shop4.html">Masonry – Grid</a></li>
                                <li><a href="shop3.html">Pagination</a></li>
                                <li><a href="shop2.html">Ajax Load More</a></li>
                                <li><a href="shop2.html">Infinite Scroll</a></li>
                                <li><a href="shop2.html">Sidebar Right</a></li>
                                <li><a href="shop.html">Sidebar Left</a></li>
                                <li><a href="shop.html">Shop Pages</a></li>
                                <li><a href="shop2.html">List View</a></li>
                                <li><a href="shop3.html">Small Products</a></li>
                                <li><a href="shop2.html">Large Products</a></li>
                                <li><a href="shop3.html">Shop — 3 Items</a></li>
                                <li><a href="shop3.html">Shop — 4 Items</a></li>
                                <li><a href="shop4.html">Shop — 5 Items</a></li>
                                <li><a href="single-product-2.html">Product Layout</a></li>
                                <li><a href="single-product.html">Description Sticky</a></li>
                                <li><a href="single-product-2.html">Product Carousels</a></li>
                                <li><a href="single-product-3.html">Gallery Modern</a></li>
                                <li><a href="single-product-4.html">Thumbnail Left</a></li>
                                <li><a href="single-product-5.html">Thumbnail Right</a></li>
                                <li><a href="single-product-6.html">Thumbnail Botttom</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Blog</a>
                            <ul>
                                <li><a href="blog.html">Grid layout</a></li>
                                <li><a href="blog2.html">Large image</a></li>
                                <li><a href="blog3.html">Left Sidebar</a></li>
                                <li><a href="blog4.html">Right Sidebar</a></li>
                                <li><a href="blog5.html">No sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Portfolio</a>
                            <ul>
                                <li><a href="portfolio.html">Single project</a></li>
                                <li><a href="portfolio2.html">Two Columns</a></li>
                                <li><a href="portfolio3.html">Three Columns</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- /. mobile nav -->
        </div>


    </header>
    <!-- header section end -->


    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Order Detail</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Order Detail</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-8">
                    <div class="card">

                        <div class="card-body">
                            <div class="invoice" style="display: flex; justify-content: flex-end;">
                                <% if (orderData && orderData.orderProducts && orderData.orderProducts.some(product=>
                                    product.status === 'delivered')) { %>
                                    <a href="/invoice?_id=<%= orderData._id %>">
                                        <button id="Invoice" class="add-review-button btn btn-info">
                                            <i class="fa-solid fa-download"></i> Invoice
                                        </button>
                                    </a>
                                    <% } %>
                            </div>



                            <h4 class="header-title mb-3">Items from Order #VL2537</h4>
                            <div class="table-responsiv">
                                <!-- Your table code for Items from Order goes here -->
                                <table class="table table-bordered table-centered mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Image</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% orderData.orderProducts.forEach((product)=> { %>
                                            <tr>
                                                <td>
                                                    <%= product.productName %>
                                                </td>
                                                <td><img src="/products/crops/<%= product.image %>" alt="product-img"
                                                        height="80" width="80"></td>
                                                <td>
                                                    <%= product.count %>
                                                </td>
                                                <td>₹<%= product.productPrice %>
                                                </td>
                                                <td>₹<%= product.totalPrice %>
                                                </td>
                                                <td>
                                                    <%= product.status %>
                                                </td>
                                                <td>
                                                    <% if(product.status !=="cancelled" && product.status !=="delivered"
                                                        && product.status !=="request" && product.status !=="Accepted" )
                                                        { %>
                                                        <button type="button"
                                                            onclick="cancelProduct('<%= product._id %>', '<%= orderData._id %>')"
                                                            class="btn btn-warning"
                                                            style="color: rgb(215, 44, 44)">Cancel</button>
                                                        <% } else if (product.status=="delivered" ) { %>
                                                            <button type="button" class="btn btn-warning"
                                                                id="requestStatus"
                                                                onclick="returnRequest('<%= product._id %>','<%= orderData._id%>')"
                                                                style="color: rgb(128, 44, 5)">Return</button>

                                                            <% } else if (product.status=="Accepted" ) { %>
                                                                <label style="color: red;">OrderReturned</label>
                                                                <% } else if (product.status=="request" ) { %>
                                                                    <label
                                                                        style="color: rgb(221, 221, 27);">Requested</label>
                                                                    <% } else {%>
                                                                        <label style="color: red;">Requested</label>
                                                                        <% } %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <th colspan="6" class="text-end">Shipping Charge :</th>
                                            <td>Free Shipping</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" class="text-end">Total :</th>
                                            <td>₹<%= orderData.totalAmount %>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">Track Order</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <h5 class="mt-0">Order ID:</h5>
                                        <p>#VL2537</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <h5 class="mt-0">Tracking ID:</h5>
                                        <p>894152012012</p>
                                    </div>
                                </div>
                            </div>

                            <div class="track-order-list">
                                <ul class="list-unstyled">
                                    <li class="completed">
                                        <h5 class="mt-0 mb-1">Order Placed</h5>
                                        <p class="text-muted">April 21 2019 <small class="text-muted">07:22 AM</small>
                                        </p>
                                    </li>
                                    <li class="completed">
                                        <h5 class="mt-0 mb-1">Packed</h5>
                                        <p class="text-muted">April 22 2019 <small class="text-muted">12:16 AM</small>
                                        </p>
                                    </li>
                                    <li>
                                        <span class="active-dot dot"></span>
                                        <h5 class="mt-0 mb-1">Shipped</h5>
                                        <p class="text-muted">April 22 2019 <small class="text-muted">05:16 PM</small>
                                        </p>
                                    </li>
                                    <li>
                                        <h5 class="mt-0 mb-1">Delivered</h5>
                                        <p class="text-muted">Estimated delivery within 3 days</p>
                                    </li>
                                </ul>

                                <div class="text-center mt-4">
                                    <a href="#" class="btn btn-primary">Show Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Shipping Information</h4>
                        <% if (address ) { %>
                            <h5 class="font-family-primary fw-semibold">
                                <%= address.fullname %>
                            </h5>
                            <p class="mb-2"><span class="fw-semibold me-2">Address:</span>
                                <%= address.houseName %>, <%= address.city %>, <%= address.state %>, <%= address.pincode
                                                %>
                            </p>
                            <p class="mb-2"><span class="fw-semibold me-2">Phone:</span>
                                <%= address.mobile %>
                            </p>
                            <!-- Add other information you want to display -->
                            <% } else { %>
                                <p>No shipping information available</p>
                                <% } %>

                    </div>
                </div>
            </div> <!-- end col -->

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Order Summary</h4>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <p class="mb-2"><span class="fw-semibold me-2">Order ID:</span>
                                    <%= orderData._id %>
                                </p>
                                <p class="mb-2"><span class="fw-semibold me-2">Date:</span>
                                    <%= orderData.purchaseDate %> <small>
                                            <%= orderData.purchaseTime %>
                                        </small>
                                </p>
                                <p class="mb-2"><span class="fw-semibold me-2">Payment Method:</span>
                                    <%= orderData.paymentMethod %>
                                </p>
                                <p class="mb-2"><span class="fw-semibold me-2">Total Amount:</span> ₹<%=
                                        orderData.totalAmount %>
                                </p>
                            </li>
                        </ul>

                    </div>
                </div>

            </div> <!-- end col -->

            <!-- <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">Delivery Info</h4>

                            <div class="text-center">
                                <i class="mdi mdi-truck-fast h2 text-muted"></i>
                                <h5><b>UPS Delivery</b></h5>
                                <p class="mb-1"><span class="fw-semibold">Order ID :</span> xxxx235</p>
                                <p class="mb-0"><span class="fw-semibold">Payment Mode :</span> COD</p>
                            </div>
                        </div>
                    </div>
                </div> -->

        </div>
        <!-- end row -->

    </div> <!-- container -->

    </div> <!-- content -->

    <!-- footer top -->

    <div class="footer-bottom pt-77" style="background-color: #292929;">
        <div class="container-1180">
            <div class="footer-bottom-wrapper">
                <div class="footer-bottom-primary pb-60">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-9">
                            <div class="footer-item has-desc">
                                <div class="footer-logo mb-25">
                                    <img src="img/logo/logo2.png" width="120" height="31" alt>
                                </div>
                                <div class="footer-desc">
                                    <p class="mb-10">Mazia store is a
                                        premium theme with advanced admin
                                        module. It’s
                                        extremely customizable, easy to use
                                        and fully responsive and retina
                                        ready.
                                    </p>
                                </div>
                                <div class="footer-img mt-65">
                                    <img src="img/logo/paypal.png" alt>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="footer-menu">
                                        <ul>
                                            <li><a href="javascript:void(0)" class="title">MY
                                                    ACCOUNT</a></li>
                                            <li><a href="login.html">My
                                                    account</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="shop2.html">Shop</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="question.html">Frequently</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="footer-menu">
                                        <ul>
                                            <li><a href="javascript:void(0)" class="title">Quick
                                                    Links</a></li>
                                            <li><a href="shop2.html">Special
                                                    Offers</a></li>
                                            <li><a href="shop2.html">Gift
                                                    Cards</a></li>
                                            <li><a href="shop2.html">F21
                                                    Red</a></li>
                                            <li><a href="about.html">Privacy
                                                    Policy</a></li>
                                            <li><a href="about.html">Teams
                                                    of Use</a></li>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 hidden-sm">
                                    <div class="footer-menu">
                                        <ul>
                                            <li><a href="javascript:void(0)" class="title">Company
                                                    Info</a></li>
                                            <li><a href="about.html">About
                                                    us</a></li>
                                            <li><a href="blog.html">Careers</a></li>
                                            <li><a href="portfolio2.html">Business
                                                    With Us</a></li>
                                            <li><a href="shop2.html">Find a
                                                    Store</a></li>
                                            <li><a href="question.html">Teams
                                                    of Use</a></li>
                                            <li><a href="portfolio3.html">Press
                                                    & Talent</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>
    <!-- footer section end -->

</body>



<!-- product popup start -->
<section id="product-popup">
    <div class="product-popup-overlay"></div>
    <div class="product-popup-container">
        <div class="product-inner w-100">
            <div class="product-inner-content">
                <div class="quick-close-action"><i class="fal fa-times"></i></div>
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="product-popup-1">
                                <div class="product-popup-img">
                                    <img src="img/product/10.jpg" class="w-100" alt>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product-popup-2">
                                <div class="product-popup-img">
                                    <img src="img/product/11.jpg" class="w-100" alt>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product-popup-3">
                                <div class="product-popup-img">
                                    <img src="img/product/12.jpg" class="w-100" alt>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-pills justify-content-center mt-10" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="active" data-toggle="pill" href="#product-popup-1">
                                    <img src="img/product/10.jpg" class="w-100" alt>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class data-toggle="pill" href="#product-popup-2">
                                    <img src="img/product/11.jpg" class="w-100" alt>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class data-toggle="pill" href="#product-popup-3">
                                    <img src="img/product/12.jpg" class="w-100" alt>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6">
                        <div class="product-content">
                            <div class="product-title">
                                <h2>Nari Narwhal Usb...</h2>
                            </div>
                            <div class="price">$<span>44.00</span>–<span>$250.00</span></div>
                            <a href="single-product-4.html" class="all-feature">See all feature</a>
                            <div class="quick-quantity mt-30">
                                <form action="#" method="POST">
                                    <input type="number" value="1">
                                    <button type="submit" class="generic-btn red-hover-btn text-capitalize">add
                                        to
                                        cart</a>
                                </form>
                            </div>

                            <div class="product-desc pb-20 mt-25 gray-border-top">
                                <p class="mb-0">Typi non habent claritatem
                                    insitam, est usus legentis in iis qui
                                    facit eorum claritatem. Investigationes
                                    demonstraverunt lectores legere me lius
                                    quod ii legunt saepius. Claritas est
                                    etiam processus A Capitalize on low
                                    hanging
                                    fruit to identify a ballpark value added
                                    activity to beta test. Override the
                                    digital...ditional clickthroughs from
                                    DevOps. Nanotechnology immersion along
                                    the
                                    information highway will close the
                                    […]</p>
                            </div>
                            <div class="product-list mt-25">
                                <ul>
                                    <li>– Light green crewnec...t.</li>
                                    <li>– Hand pockets.</li>
                                    <li>– Relaxed fit.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product popup end -->

<!-- startup popup start -->
<section id="startup-popup">
    <div class="product-popup-overlay has-startup" style="opacity: 1;visibility: visible"></div>
    <div class="startup-popup-body">
        <div class="startup-body-content h-100">
            <div class="row justify-content-end h-100">
                <div class="col-6 h-100">
                    <div class="startup-popup-inner h-100">
                        <div class="close-search-popup">
                            <i class="fal fa-times"></i>
                        </div>
                        <div class="startup-popup-main-content">
                            <h2>Get Our Email Letter</h2>
                            <p class="mb-0">Subscribe to the Mazia store
                                mailing list to receive updates on new
                                arrivals, special offers
                                and other discount information.</p>
                            <div class="startup-subscribe-form">
                                <form action="#" method="POST">
                                    <input type="text" placeholder="Subscribe to our newsletter" class="mb-30">
                                    <button class="generic-btn red-hover-btn text-uppercase">Subscribe
                                        now</button>
                                </form>
                            </div>
                        </div>
                        <div class="startup-popup-sub-content">
                            <div class="popup-warning">
                                <input type="checkbox" id="startup-popup-hidden">
                                <label for="startup-popup-hidden">Do not
                                    show the popup again</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- startup popup end -->

<!-- -------------------------------Modal for return request------------------------------ -->
<div class="modal fade" id="returnReasonModal" tabindex="-1" role="dialog" aria-labelledby="returnReasonModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="returnReasonModalLabel">Enter Return Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="returnReasonForm">
                    <div class="form-group">
                        <label for="returnReason">Reason for Return:</label>
                        <textarea class="form-control" name="returnReason" id="returnReason" rows="3" required></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" id="submitReturnReason">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>



    // function returnRequest(id, order) {

    // console.log('moopare ethis x');
    // swal.fire({
    //     title: "Are you sure?",
    //     text: "You want to return this Product?",
    //     icon: "warning",
    //     showCancelButton: true,
    //     confirmButtonColor: "#3085d6",
    //     cancelButtonColor: "#d33",
    //     confirmButtonText: "Yes",
    //     cancelButtonText: "Not now",
    // }).then((result) => {
    //     if (result.isConfirmed) {
    //         $.ajax({
    //             url: "/returnRequest",
    //             data: { id, order },
    //             method: 'post',
    //             success: (response) => {
    //                 window.location.reload()

    //                 const Toast = Swal.mixin({
    //                     toast: true,
    //                     position: 'top-end',
    //                     showConfirmButton: false,
    //                     timer: 3000,
    //                 })
    //                 Toast.fire({
    //                     icon: 'success',
    //                     title: 'Return request is sended.'
    //                 })
    //             }
    //         });
    //     }
    // })
    // }
    
    
    function returnRequest(id, order) {
        console.log('moopare ethis x');
        Swal.fire({
            title: 'Are you sure?',
            html: 'Do you want to send a refund request for this order? <br><br><span style="color: red;">NB: If you got the coupon, it will be deducted</span>',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#7ac093',
            confirmButtonText: 'Yes, send refund request!'
        }).then((result) => {
            if (result.isConfirmed) {
                $('#returnReasonModal').modal('show');

                $('#returnReasonModal').on('hidden.bs.modal', function () {
                    location.reload();
                });

                // Event listener for input changes on the textarea
                $('#returnReason').on('input', function () {
                    const returnReason = $(this).val();
                    $('#submitReturnReason').data('returnReason', returnReason);
                });

                $('#submitReturnReason').on('click', function () {
                    const returnReason = $(this).data('returnReason');
                    console.log('Return Reason:', returnReason);

                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/returnRequest",
                            data: {  order, id, returnReason: returnReason },
                            method: 'POST',
                            success: (response) => {
                                if (response.success) {
                                    Swal.fire({
                                        title: 'Refund request sent!',
                                        text: "We'll review your request and get back to you shortly.",
                                        icon: 'success'
                                    }).then(() => {
                                        $('#refundRequestModal').modal('hide');
                                        location.reload();
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Oops!',
                                        text: response.message || 'There was an error processing your request. Please try again.',
                                        icon: 'error'
                                    });
                                }
                            }
                        });
                    }
                });
            }
        });
    }

        
    function cancelProduct(orderProductId, orderId) {

        Swal.fire({
            title: "Are you sure?",
            text: "You want to cancel this Order?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes",
            cancelButtonText: "Not now",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/orderCancel",
                    data: { productId: orderProductId, orderId: orderId },
                    method: "post",
                    success: (response) => {
                        if (response.success) {
                            window.location.reload();

                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000,
                            });

                            Toast.fire({
                                icon: 'success',
                                title: 'Order Cancelled.'
                            });
                        }
                    }
                });
            }
        });
    }




</script>


<script src="/js/profileEdits.js"></script>

<!-- JS here -->
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/one-page-nav-min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.meanmenu.min.js"></script>
<script src="js/ajax-form.js"></script>
<script src="js/fontawesome.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

</html>