<%-include("../layouts/user/header.ejs")%>

    <!-- preloader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <!-- single product start -->
    <section class="single-product mb-90">
        <div class="container-fluid">
            <nav aria-label="breadcrumb" class="mb-40">
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page">Product</li>
                    <!-- <li class="breadcrumb-item active" aria-current="page">Product</li> -->
                </ol>
            </nav>
            <div class="shop-wrapper">
                <div class="single-product-top">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-12">
                            <div class="shop-img">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade show active" id="tab-1">
                                                <div class="product-img">
                                                    <a href="/products/crops/<%= productView.images.image1 %>"
                                                        class="popup-image"><img
                                                            src="/products/crops/<%= productView.images.image1 %>"
                                                            class="w-100" alt></a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-2">
                                                <div class="product-img">
                                                    <a href="/products/crops/<%= productView.images.image1 %>"
                                                        class="popup-image"><img
                                                            src="/products/crops/<%= productView.images.image2 %>"
                                                            class="w-100" alt></a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-3">
                                                <div class="product-img">
                                                    <a href="/products/crops/<%= productView.images.image1 %>"
                                                        class="popup-image"><img
                                                            src="/products/crops/<%= productView.images.image3 %>"
                                                            class="w-100" alt></a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-4">
                                                <div class="product-img">
                                                    <a href="/products/crops/<%= productView.images.image1 %>"
                                                        class="popup-image"><img
                                                            src="/products/crops/<%= productView.images.image4 %>"
                                                            class="w-100" alt></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="nav nav-pills has-border-img" id="v-pills-tab" role="tablist"
                                            aria-orientation="vertical">
                                            <a class="active" data-toggle="pill" href="#tab-1">
                                                <img src="/products/crops/<%= productView.images.image1 %>" class="w-100"
                                                    alt>
                                            </a>
                                            <a data-toggle="pill" href="#tab-2">
                                                <img src="/products/crops/<%= productView.images.image2 %>"
                                                    class="w-100 mt-5-px" alt>
                                            </a>
                                            <a data-toggle="pill" href="#tab-3">
                                                <img src="/products/crops/<%= productView.images.image3 %>"
                                                    class="w-100 mt-5-px" alt>
                                            </a>
                                            <a data-toggle="pill" href="#tab-4">
                                                <img src="/products/crops/<%= productView.images.image4 %>"
                                                    class="w-100 mt-5-px" alt>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-12">
                            <div class="single-product-sidebar">
                                <div class="product-content">
                                    <div class="single-product-title">
                                        <h2>
                                            <%= productView.name %>
                                        </h2>
                                    </div>
                                    <div class="single-product-price"><span>₹</span>
                                        <%= productView.price %>
                                    </div>
                                    <div class="single-product-desc mb-25">
                                        <!-- <p>Typi non habent claritatem insitam, est usus legentis in iis qui
                                            facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius
                                            quod ii legunt saepius. Claritas est etiam processus A Capitalize on low hanging
                                            fruit to identify a ballpark value added activity to beta test. Override the
                                            digital...ditional clickthroughs from DevOps. Nanotechnology immersion along the
                                            information highway will close the […]</p> -->
                                        <!-- <div class="product-list single-product-list">
                                                <ul>
                                                    <li>– Light green crewneck sweatshirt.</li>
                                                    <li>– Hand pockets.</li>
                                                    <li>– Relaxed fit.</li>
                                                </ul>
                                            </div> -->
                                    </div>
                                    <!-- <div class="single-product-component">
                                        <h6>Color: <span class="color-value">Gold</span></h6>
                                        <form action="#" style="overflow: hidden;" class="mt-15">
                                            <div class="color-input">
                                                <label for="gold" style="background-color: #FFD700;"></label>
                                                <input type="radio" class="d-none" id="gold">
                                                <span>Gold</span>
                                            </div>
                                            <div class="color-input">
                                                <label for="green" style="background-color: #008000"></label>
                                                <input type="radio" class="d-none" id="green">
                                                <span>green</span>
                                            </div>
                                            <div class="color-input">
                                                <label for="white" style="background-color: #fff;"></label>
                                                <input type="radio" class="d-none" id="white">
                                                <span>white</span>
                                            </div>
                                            <div class="color-input">
                                                <label for="yellow"  style="background-color: #FFFF00;"></label>
                                                <input type="radio" class="d-none" id="yellow">
                                                <span>Yellow</span>
                                            </div>
                                        </form>
                                    </div> -->
                                    <div class="single-product-component">
                                        <% if(productView.quantity === 0) { %>
                                            <h6 class="stock-out" style="color: red;">Stock: <span class="stock-value">Out of Stock</span></h6>
                                            <% } else if (productView.quantity < 5) { %>
                                            <h6 class="low-stock">Stock: <span class="stock-value">Low Stock (Only <%= productView.quantity %> left)</span></h6>
                                        <% } else { %>
                                            <h6 class="in-stock">Stock: <span class="stock-value">In Stock</span></h6>
                                        <% } %>
                                        
                                        
                                    </div>
                                    <div class="single-product-component mt-15">
                                        <div class="size">
                                            <h6>Size: <span>3XL</span></h6>
                                            <form action="#">
                                                <label for="t-xl" class="active">3xl</label>
                                                <input type="radio" class="d-none" id="t-xl">
                                                <label for="xl">xl</label>
                                                <input type="radio" class="d-none" id="xl">
                                                <label for="xxl">xxl</label>
                                                <input type="radio" class="d-none" id="xxl">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="quick-quantity mt-60">
                                            <button onclick="addToCart('<%= productView._id %>')"
                                                class="list-add-cart-btn red-hover-btn border-0"
                                                style="padding-left: 80px;padding-right: 80px;transition: all .5s;">add
                                                to
                                                cart
                                            </button>
                                    </div>
                                    <div class="single-product-action mt-35">
                                        <ul>
                                            <li><a onclick="addToWishlist('<%=productView._id%>')"><i class="fal fa-heart"></i>
                                                    add to wishlist</a></li>
                                        </ul>
                                    </div>
                                    <div class="sku"><span>Sku: </span>
                                        <strong>M-Hat-8</strong>
                                    </div>
                                    <div class="single-product-category">
                                        <ul>
                                            <li class="mb-0"><a href="javascript:void(0)" class="title">Categories:
                                                </a></li>
                                            <li class="mb-0"><a href="single-product-4.html">
                                                    <%= productView.category %>
                                                </a></li>
                                        </ul>
                                    </div>
                                    <div class="share-product mt-20">
                                        <ul>
                                            <li><a href="javascript:void(0)" class="title">Share this
                                                    product</a></li>
                                            <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="twitter"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="pinterest"><i class="fab fa-pinterest"></i></a></li>
                                            <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="google +"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="Linkdin"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-product-bottom mt-80 gray-border-top">
                    <ul class="nav nav-pills justify-content-center mt-100">
                        <li class="nav-item">
                            <a class="active" data-toggle="pill" href="#desc-tab-1">Description</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#desc-tab-3">Additional
                                information</a>
                        </li>
                        <li class="nav-item">
                            <a class data-toggle="pill" href="#desc-tab-2">Reviews
                                (0)</a>
                        </li>
                    </ul>
                    <div class="container container-1200">
                        <div class="tab-content mt-60">
                            <div class="tab-pane fade show active" id="desc-tab-1">
                                <div class="single-product-tab-content">
                                    <h3 class="title mb-30">Description</h3>
                                    <p><%= productView.description %></p>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="desc-tab-2">
                                <div class="single-product-tab-content">
                                    <h3 class="title mb-30">Reviews</h3>
                                    <div class="review-box-item">
                                        <div class="row">
                                            <div class="col-xl-1 col-lg-2 col-md-2 col-3 pr-xl-0">
                                                <div class="review-box-img d-block text-right">
                                                    <img src="img/small-img/1.jpg" width="60" height="60"
                                                        class="avatar-img" alt>
                                                </div>
                                            </div>
                                            <div class="col-xl-11 col-lg-10 col-9 pl-0">
                                                <div class="review-box-content">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <div class="author-name">
                                                                <h6>John96</h6>
                                                                <div class="content">
                                                                    <p class="mb-0">Awesome</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-5 pr-5-px pl-0">
                                                            <div class="rating text-right">
                                                                <i class="fal fa-star red-color"></i>
                                                                <i class="fal fa-star red-color"></i>
                                                                <i class="fal fa-star red-color"></i>
                                                                <i class="fal fa-star"></i>
                                                                <i class="fal fa-star"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>There are no reviews yet.</p>
                                    <h4>Add a review</h4>

                                    <form action="#" method="POST">
                                        <label for="rating">Your Rating</label>
                                        <input type="radio" class="d-none" id="rating">
                                    </form>
                                    <p class="star-rating">
                                        <a href="javascript:void(0)"><i class="fal fa-star"></i></a>
                                        <a href="javascript:void(0)"><i class="fal fa-star"></i></a>
                                        <a href="javascript:void(0)"><i class="fal fa-star"></i></a>
                                        <a href="javascript:void(0)"><i class="fal fa-star"></i></a>
                                        <a href="javascript:void(0)"><i class="fal fa-star"></i></a>
                                    </p>

                                    <div class="form-group">
                                        <label for="review">Review</label>
                                        <textarea name="review" id="review" cols="30" rows="6"
                                            class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <input type="text" name="name" id="name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email <span class="required">*</span></label>
                                        <input type="email" name="email" id="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox-input">
                                            <input type="checkbox" id="condition" name="condition">
                                        </div>
                                        <label for="condition">Save my name, email,
                                            and website in this browser for the next
                                            time I comment.</label>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="generic-btn red-hover-btn"
                                            style="font-size: 14px !important;">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="desc-tab-3">
                                <div class="single-product-tab-content">
                                    <h3 class="title mb-30">Additional
                                        information</h3>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>size</th>
                                                <td>
                                                    <ul>
                                                        <li><a href="shop4.html">3XL</a></li>
                                                        <li><a href="shop4.html">L</a></li>
                                                        <li><a href="shop4.html">M</a></li>
                                                        <li><a href="shop4.html">S</a></li>
                                                        <li><a href="shop4.html">XL</a></li>
                                                        <li><a href="shop4.html">XXL</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>color</th>
                                                <td>
                                                    <ul>
                                                        <li><a href="shop4.html">Black</a></li>
                                                        <li><a href="shop4.html">Blue</a></li>
                                                        <li><a href="shop4.html">Gold</a></li>
                                                        <li><a href="shop4.html">Gray</a></li>
                                                        <li><a href="shop4.html">White</a></li>
                                                        <li><a href="shop4.html">Yellow</a></li>
                                                        <li><a href="shop4.html">Red</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- single product end -->
    <!-- sugession start -->
    <!-- code i removed -->
    <!-- related product start -->
    <!-- <span class="sale bg-red text-white">sale!</span> -->

    <% if(relatedProduct.length >0) {%>
    <section class="related-product mt-120">
        <div class="container-fluid">
            <div class="generic-title text-center">
                <h2 class="mb-20">Related Product</h2>
            </div>
            <div class="main-product-carousel owl-carousel red-nav mt-50">
                <% relatedProduct.forEach((product)=>{ %>
                <div class="carousel-single-item">
                    <div class="col-12">
                        <div class="product-box">
                            <div class="product-box-wrapper">
                                <div class="product-img">
                                    <img src="/products/crops/<%= product.images.image1 %>" class="w-100" alt>
                                    <a href="/product?id=<%= product._id %>" class="d-block">
                                        <div class="second-img">
                                            <img src="/products/crops/<%= product.images.image2 %>" alt class="w-100">
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)"
                                        class="product-img-link quick-view-1 text-capitalize">Quick
                                        view</a>
                                </div>

                                <div class="product-desc pb-20">
                                    <div class="product-desc-top">
                                        <div class="categories">
                                            <a href="shop3.html" class="product-category"><span><%= product.category.name %></span></a>
                                        </div>
                                        <a href="wishlist.html" class="wishlist float-right"><span><i
                                                    class="fal fa-heart"></i></span></a>
                                    </div>
                                    <a href="single-product-3.html" class="product-title"><%= product.name %></a>
                                    <div class="price-switcher">
                                        <span class="price switcher-item"><%= product.price %></span>
                                        <a href="cart.html" class="add-cart text-capitalize switcher-item">+add
                                            to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </section>
    <% } %>
    <!-- related product end -->

 



    <script>
    
    function addToCart(productId, count = 1) {
    $.ajax({
        url: "/addToCart",
        method: "post",
        data: {
            id: productId,
            count: count,
        },
        success: (response) => {
             if(response.success) {
                if (response.newProduct) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 1500,
                    });

                    Toast.fire({
                        icon: "success",
                        title: "Product added to cart"
                    });
                } else if(response.exist) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 2000,
                    });

                    Toast.fire({
                        icon: "info",
                        title: "Product already in the cart."
                    });
                }
            } else {
                if (response.message && response.message.toLowerCase().includes("out of stock")) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 2000,
                    });

                    Toast.fire({
                        icon: "error",
                        title: "Sorry! Out of stock.",
                        text: response.message,
                    });
                } else {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 2000,
                    });

                    Toast.fire({
                        icon: "error",
                        title: "Error",
                        text: "An error occurred while adding the product to the cart.",
                    });
                }
            }
        },
        error: (error) => {
            console.error("Error adding product to cart:", error);

            const Toast = Swal.mixin({
                toast: true,
                position: "center",
                showConfirmButton: false,
                timer: 2000,
            });

            Toast.fire({
                icon: "error",
                title: "Error",
                text: "An error occurred while processing your request.",
            });
        },
    });
}



function addToWishlist(productId) {
    console.log(productId, 'wishId');
    const wishId = { productId: productId };
    console.log(wishId);
    $.ajax({
        method: "POST",
        url: '/addWishlist',
        data: JSON.stringify(wishId),
        contentType: 'application/json',
        success: function (response) {
            console.log(response);
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 2000,
            });

            if (response.added) {
                Toast.fire({
                    icon: 'success',
                    title: response.message
                });
            } else if (response.remove) {
                Toast.fire({
                    icon: 'success',
                    title: response.message
                });
            } else {
                Toast.fire({
                    icon: 'error',
                    title: 'Please log in to perform this action.',
                    timer: 2000
                });
                setTimeout(function () {
                    window.location.href = '/login';
                }, 1000);
            }
        },
        error: function (error) {
            console.error(error.responseText);
        }
    });
}



    </script>

    <%-include("../layouts/user/footer.ejs")%>