<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mazia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/meanmenu.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- jQuery and Bootstrap JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Additional JavaScript libraries -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/mixitup@3"></script>


    <!-- Your other scripts go here -->

</head>


<body>

    <!-- header section start -->
    <header class="header pt-30 pb-30  header-sticky header-static"
        style="padding-top: 30px; padding-bottom: 15px; top: 0px;">
        <div class="container-fluid">
            <div class="header-nav position-relative">
                <div class="row align-items-center">


                    <div class="col-xl-5 col-lg-6 hidden-md position-static">
                        <div class="header-nav">
                            <nav>
                                <ul>
                                    <li><a href="/home" class="active"><span>Home </span></a>


                                    </li>
                                    <li class="position-static"><a href="/shop"><span>Shop </span></a>
                                        <!-- <div class="mega-menu">
                                                <div class="col-xl-7 pl-0 position-static">
                                                    <ul>
                                                        <li><a href="/shop">Shop </a></li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                    </li>
                                    <li><a href=""><span>Blog <i class="fal fa-angle-down"></i></span> </a>
                                        <!-- <li><a href="javascript:void(0)"><span>Blog <i class="fal fa-angle-down"></i></span> </a> -->
                                        <!-- <ul class="submenu">
                                                <li><a href="blog.html">Grid layout</a></li>
                                                <li><a href="blog2.html">Large image</a></li>
                                                <li><a href="blog3.html">Left Sidebar</a></li>
                                                <li><a href="blog4.html">Right Sidebar</a></li>
                                                <li><a href="blog5.html">No sidebar</a></li>
                                            </ul> -->
                                    </li>
                                    <li><a href="javascript:void(0)"><span>Portfolio <i
                                                    class="fal fa-angle-down"></i></span> </a>
                                        <!-- <ul class="submenu">
                                                <li><a href="portfolio.html">Single project</a></li>
                                                <li><a href="portfolio2.html">Two Columns</a></li>
                                                <li><a href="portfolio3.html">Three Columns</a></li>
                                            </ul> -->
                                    </li>
                                    <li><a href="javascript:void(0)"><span>Page</span> <i
                                                class="fal fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="question.html">Frequently Questions</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/contact"><span>Contact</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-3">
                        <div class="logo">
                            <a href="index3.html"><img src="img/logo/logo1.png" alt=""></a>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9">
                        <div class="header-right">

                            <ul class="text-right">

                                <% if(locals.user){ %>
                                    <li><a href="userProfile" class="account"><i class="fal fa-user-friends"></i>
                                            <article class="account-registar d-inline-block"></article>
                                        </a></li>
                                    <% } else{ %>
                                        <li><a href="login" class="account"><i class="fal fa-user-friends"></i>
                                            <article class="account-registar d-inline-block">Login/signup</article>
                                        </a></li>

                                        <% } %>



                                            <li><a href="javascript:void(0)"><i class="fal fa-search"></i></a>

                                                <!-- search popup -->
                                                <div id="search-popup">
                                                    <div class="close-search-popup">
                                                        <i class="fal fa-times"></i>
                                                    </div>
                                                    <div class="search-popup-inner mt-135">
                                                        <div class="search-title text-center">
                                                            <h2>Search</h2>
                                                        </div>

                                                        <div class="search-content pt-55">
                                                            <ul class="text-center">
                                                                <li><a href="javascript:void(0)" class="active">All
                                                                        categories</a>
                                                                </li>
                                                                <!-- <li><a href="javascript:void(0)">Clothing</a></li>
                                                                <li><a href="javascript:void(0)">Gift Cards</a></li>
                                                                <li><a href="javascript:void(0)">Handbag</a></li>
                                                                <li><a href="javascript:void(0)">Kids</a></li>
                                                                <li><a href="javascript:void(0)">Shoes</a></li>
                                                                <li><a href="javascript:void(0)">Sneaker</a></li>
                                                                <li><a href="javascript:void(0)">Women</a></li> -->
                                                            </ul>


                                                            <div class="search-form mt-35">
                                                                <form id="search-form" action="/filter" method="get">
                                                                    <input type="text" id="search-input" name="search"
                                                                        placeholder="Search Products...">
                                                                    <button type="submit"><i
                                                                            class="fal fa-search"></i></button>
                                                                    <input type="radio" name="sort" value="0" checked
                                                                        hidden>
                                                                    <input type="radio" name="price"
                                                                        value="0-10000000000" checked hidden>
                                                                    <input type="radio" name="category" value="all"
                                                                        checked hidden>
                                                                </form>
                                                            </div>

                                                            <div class="search-result-list">
                                                                <ul class="text-left">
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/1.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">ELLE
                                                                                - Recliner syntheti chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/2.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">RIMINI - Folding
                                                                                leather deck
                                                                                chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/3.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">LANDSCAPE - Folding
                                                                                fabric deck
                                                                                chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/1.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">ELLE
                                                                                - Recliner syntheti chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/2.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">RIMINI - Folding
                                                                                leather deck
                                                                                chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-block d-flex align-items-center">
                                                                        <div class="search-result-img">
                                                                            <img src="img/product/3.jpg" class="w-100"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="search-result-desc pl-10">
                                                                            <a href="single-product-4.html"
                                                                                class="title px-0">LANDSCAPE - Folding
                                                                                fabric deck
                                                                                chair</a>
                                                                            <div class="price">$<span>399</span></div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </li>
                                            <li><a href="wishlist" data-toggle="tooltip" data-placement="bottom"
                                                    title="" data-original-title="view wishlist"><i
                                                        class="fal fa-heart"><span>0</span></i></a></li>


                                            <!-- Your HTML code ... -->

                                            <li>
                                                <a href="cart">
                                                    <i class="fal fa-shopping-bag">
                                                        <span>
                                                            <%= (typeof cartCount !=='undefined' && cartCount !==null &&
                                                                cartCount !=="" ) ? cartCount : '0' %>
                                                        </span>
                                                    </i>
                                                </a>
                                            </li>





                                            <!-- Your HTML code ... -->
                                            <!-- <div class="minicart">
                                                            <div class="minicart-body">
                                                                <div class="minicart-content">
                                                                    <ul class="text-left">
                                                                        <li>
                                                                            <div class="minicart-img">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0"><img
                                                                                        src="img/product/1.jpg"
                                                                                        class="w-100" alt=""></a>
                                                                            </div>
                                                                            <div class="minicart-desc">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0">Capitalize on
                                                                                    low hanging fruit t</a>
                                                                                <strong>1 × $250.00</strong>
                                                                            </div>
                                                                            <div class="remove">
                                                                                <i class="fal fa-times"></i>
                                                                            </div>
                                                                        </li>

                                                                        <li>
                                                                            <div class="minicart-img">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0"><img
                                                                                        src="img/product/2.jpg"
                                                                                        class="w-100" alt=""></a>
                                                                            </div>
                                                                            <div class="minicart-desc">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0">Leather
                                                                                    Courriere duffle ba</a>
                                                                                <strong>1 × $150.00</strong>
                                                                            </div>
                                                                            <div class="remove">
                                                                                <i class="fal fa-times"></i>
                                                                            </div>
                                                                        </li>


                                                                        <li>
                                                                            <div class="minicart-img">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0"><img
                                                                                        src="img/product/3.jpg"
                                                                                        class="w-100" alt=""></a>
                                                                            </div>
                                                                            <div class="minicart-desc">
                                                                                <a href="single-product-4.html"
                                                                                    class="p-0">Party Supplies
                                                                                    Around Cupcake</a>
                                                                                <strong>1 × $150.00</strong>
                                                                            </div>
                                                                            <div class="remove">
                                                                                <i class="fal fa-times"></i>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="minicart-checkout">
                                                                <div
                                                                    class="minicart-checkout-heading mt-8 mb-25 overflow-hidden">
                                                                    <strong class="float-left">Subtotal:</strong>
                                                                    <span class="price float-right">503.00</span>
                                                                </div>
                                                                <div class="minicart-checkout-links">
                                                                    <a href="cart.html"
                                                                        class="generic-btn black-hover-btn text-uppercase w-100 mb-20">View
                                                                        cart</a>
                                                                    <a href="checkout.html"
                                                                        class="generic-btn black-hover-btn text-uppercase w-100 mb-20">Checkout</a>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                            </li>
                                            <li><a href="javascript:void(0)"><i class="fal fa-align-right"></i></a>
                                                <ul class="submenu bold-content text-right">
                                                    <li><a href="userProfile">My Account</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                    <li><a href="/logout"><i class="bi bi-box-arrow-right"></i>
                                                            LogOut</a></li>
                                                </ul>
                                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu visible-sm">
                <div id="mobile-menu">
                    <ul>
                        <li><a class="pl-3" href="javascript:void(0)">Home</a>
                            <ul class="pl-4">
                                <li><a href="index.html">Home Fashion 1</a></li>
                                <li><a href="index2.html">Home Fashion 2</a></li>
                                <li><a href="index3.html">Home Fashion 3</a></li>
                                <li><a href="index4.html">Home Fashion 4</a></li>
                                <li><a href="index5.html">Home Fashion 5</a></li>
                                <li><a href="index6.html">Home Fashion 6</a></li>
                                <li><a href="index7.html">Home Fashion 7</a></li>

                            </ul>
                        </li>
                        <li><a class="pl-3" href="javascript:void(0)">Shop</a>
                            <ul>
                                <li><a href="shop.html">Shop Layout</a></li>
                                <li><a href="shop4.html">Masonry – Grid</a></li>
                                <li><a href="shop3.html">Pagination</a></li>
                                <li><a href="shop2.html">Ajax Load More</a></li>
                                <li><a href="shop2.html">Infinite Scroll</a></li>
                                <li><a href="shop2.html">Sidebar Right</a></li>
                                <li><a href="shop.html">Sidebar Left</a></li>
                                <li><a href="shop.html">Shop Pages</a></li>
                                <li><a href="shop2.html">List View</a></li>
                                <li><a href="shop3.html">Small Products</a></li>
                                <li><a href="shop2.html">Large Products</a></li>
                                <li><a href="shop3.html">Shop — 3 Items</a></li>
                                <li><a href="shop3.html">Shop — 4 Items</a></li>
                                <li><a href="shop4.html">Shop — 5 Items</a></li>
                                <li><a href="single-product-2.html">Product Layout</a></li>
                                <li><a href="single-product.html">Description Sticky</a></li>
                                <li><a href="single-product-2.html">Product Carousels</a></li>
                                <li><a href="single-product-3.html">Gallery Modern</a></li>
                                <li><a href="single-product-4.html">Thumbnail Left</a></li>
                                <li><a href="single-product-5.html">Thumbnail Right</a></li>
                                <li><a href="single-product-6.html">Thumbnail Botttom</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Blog</a>
                            <ul>
                                <li><a href="blog.html">Grid layout</a></li>
                                <li><a href="blog2.html">Large image</a></li>
                                <li><a href="blog3.html">Left Sidebar</a></li>
                                <li><a href="blog4.html">Right Sidebar</a></li>
                                <li><a href="blog5.html">No sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Portfolio</a>
                            <ul>
                                <li><a href="portfolio.html">Single project</a></li>
                                <li><a href="portfolio2.html">Two Columns</a></li>
                                <li><a href="portfolio3.html">Three Columns</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- /. mobile nav -->
        </div>


    </header>
    <!-- header section end -->
    <!-- preloader -->

    <div class="has-breadcrumb-bg mb-120">

        <!-- <div class="breadcrumb-content"
                        style="flex-direction: column;">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item"><a
                                        href="home">Home</a></li>
                                <li class="breadcrumb-item active"
                                    aria-current="page">Cart</li>
                            </ol>
                        </nav>

                        <h2 class="cart-title mt-40">Cart</h2>
                    </div> -->
        <% if(products.length !=0) {%>
            <div class="shop-body mb-90">
                <div class="container-fluid">
                    <div class="shop-wrapper">
                        <div class="row">
                            <div class="col-xl-3 hidden-xl">
                                <!-- widget -->

                                <!-- filter area  -->

                                <div class="widget">
                                    <h4 class="mb-30">Product Categories</h4>
                                    <div class="category-list">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value id="category1">
                                            <label class="form-check-label" for="category1">Accessories (0)</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value id="category2">
                                            <label class="form-check-label" for="category2">Char & Table
                                                (10)</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value id="category3">
                                            <label class="form-check-label" for="category3">Handbag (10)</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value id="category4">
                                            <label class="form-check-label" for="category4">Kids (15)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget mt-50">
                                    <h4 class="mb-30">Filter By Price</h4>
                                    <form id="priceFilterForm" action="/filterProduct" method="get">
                                        <div class="price-filter">
                                            <div class="filter-options">
                                                <label>
                                                    <input type="checkbox" class="price-checkbox" value="low-to-high"
                                                        style="color: black;"> Low to
                                                    High
                                                </label>
                                                <br>
                                                <label>
                                                    <input type="checkbox" class="price-checkbox" value="high-to-low"
                                                        style="color: black;"> High to
                                                    Low
                                                </label>
                                                <br>
                                                <label>
                                                    <input type="checkbox" class="price-checkbox" value="all"
                                                        style="color: black;"> All Price
                                                    Ranges
                                                </label>
                                                <br>
                                                <label>
                                                    <input type="checkbox" class="price-checkbox" value="0-50"
                                                        style="color: black;"> $0 - $50
                                                </label>
                                                <br>
                                                <label>
                                                    <input type="checkbox" class="price-checkbox" value="51-100"
                                                        style="color: black;"> $51 -
                                                    $100
                                                </label>
                                                <br>
                                                <label>
                                                    <input type="checkbox" class="price-checkbox" value="101-200"
                                                        style="color: black;"> $101 -
                                                    $200
                                                </label>
                                                <!-- Add more predefined price ranges as needed -->
                                            </div>
                                            <div class="filter-form-submit mt-35">
                                                <button type="button" id="applyPriceFilter">Apply
                                                    Filter</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>

                                <!-- <div class="widget mt-50">
                            <h4 class="mb-30">Filter By Color</h4>
                            <ul class="color-list">
                                <li style="background-color: #000;"></li>
                                <li style="background-color: #1E73BE;"></li>
                                <li style="background-color: #FFD700;"></li>
                                <li style="background-color: #C9C9C9;"></li>
                                <li style="background-color: #008000;"></li>
                                <li style="background-color: #FFFF00;"></li>
                                <li style="background-color: #FFFFFF;"></li>
                                <li style="background-color: #DD3333;"></li>
                            </ul>
                        </div> -->
                                <!-- <div class="widget mt-50">
                            <h4 class="mb-30">Filter By Size</h4>
                            <div class="size-link">
                                <a href="shop2.html">3xl</a>
                                <a href="shop2.html">l</a>
                                <a href="shop2.html">m</a>
                                <a href="shop2.html">s</a>
                                <a href="shop2.html">xl</a>
                                <a href="shop2.html">xxl</a>
                            </div>
                        </div> -->
                                <!-- <div class="widget mt-50">
                            <h4 class="mb-30">Featured</h4>
                            <div class="post-box">
                                <ul>
                                    <li>
                                        <div class="post-img">
                                            <img src="img/product/1.jpg" class="w-100" alt="">
                                        </div>
                                        <div class="post-img-desc">
                                            <a href="single-product-4.html">Capitalize on low hanging fruit to</a>
                                            <div class="price">$250.00</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-img">
                                            <img src="img/product/2.jpg" class="w-100" alt="">
                                        </div>
                                        <div class="post-img-desc">
                                            <a href="single-product-4.html">
                                                Tassels pendant earringso</a>
                                            <div class="price">$30 - $334</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-img">
                                            <img src="img/product/3.jpg" class="w-100" alt="">
                                        </div>
                                        <div class="post-img-desc">
                                            <a href="single-product-4.html">
                                                Tassels pendant earringso</a>
                                            <div class="price">$30 - $334</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                                <div class="widget mt-50">
                                    <h4 class="mb-30">Popular Tags</h4>
                                    <div class="category-list">
                                        <ul>
                                            <li><a>HOODIE</a></li>
                                            <li><a href="shop2.html">Clothing</a></li>
                                            <li><a href="shop2.html">fashion</a></li>
                                            <li><a href="shop2.html">Fly</a></li>
                                            <li><a href="shop2.html">Glasses</a></li>
                                            <li><a href="shop2.html">men</a></li>
                                            <li><a href="shop2.html">Product</a></li>
                                            <li><a href="shop2.html">version</a></li>
                                            <li><a href="shop2.html">women</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                            <!-- end filter herre  -->

                            <!-- /. widget -->
                            <div class="col-xl-9">
                                <div class="filter-heading">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                                            <div class="filter-shown-item">
                                                <p class="mb-0">
                                                    Showing <span>
                                                        <%= (currentPage - 1) * limit + 1 %>
                                                    </span>–
                                                    <span>
                                                        <%= Math.min(currentPage * limit, totalProducts) %>
                                                    </span>
                                                    of <span class="total_count">
                                                        <%= totalProducts %>
                                                    </span> results
                                                </p>
                                                <p class="mb-0">
                                                    Page <span>
                                                        <%= currentPage %>
                                                    </span>
                                                    of <span>
                                                        <%= totalPages %>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>

                                        <!------------------------------------------------------------- hey --------------------------------------------------->
                                        <div
                                            class="col-xl-4 col-lg-4 col-md-4 col-12 d-flex justify-content-end position-static">
                                            <div class="sorting d-inline-block">
                                                <select name="sort" id="shop-sort">
                                                    <option value="default">Default
                                                        sorting</option>

                                                    <option type="radio" name="sort" value="low-to-high">Sort by
                                                        price: low to high</option>
                                                    <option type="radio" name="sort" value="high-to-low">Sort by
                                                        price: high to low</option>
                                                </select>
                                            </div>

                                        </div>
                                        <!------------------------------------ filtr in head -------------------------------------------- -->
                                    </div>
                                </div>

                                <!-- /. filter heading -->
                                <div class="filter-content">
                                    <div class="tab-content">

                                        <div class="product-wrapper mt-55">
                                            <div class="row">
                                                <% products.forEach(product=> { %>
                                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                                        <div class="product-box mb-40">
                                                            <div class="product-box-wrapper">
                                                                <div class="product-img">
                                                                    <img src="/products/crops/<%= product.images.image1 %>"
                                                                        class="w-100" alt>
                                                                    <a href="/product?id=<%= product._id %>"
                                                                        class="d-block">
                                                                        <div class="second-img">
                                                                            <img src="/products/crops/<%= product.images.image2 %>"
                                                                                alt class="w-100">
                                                                        </div>
                                                                    </a>
                                                                    <a href="javascript:void(0)"
                                                                        class="product-img-link quick-view-1 text-capitalize">Quick
                                                                        view</a>
                                                                </div>

                                                                <div class="product-desc pb-20">
                                                                    <div class="product-desc-top">
                                                                        <div class="categories">
                                                                            <a href="shop2.html"
                                                                                class="product-category"><span>
                                                                                    <%= product.category %>
                                                                                </span></a>
                                                                        </div>
                                                                        <a href="wishlist.html"
                                                                            class="wishlist float-right"><span><i
                                                                                    class="fal fa-heart"></i></span></a>
                                                                    </div>
                                                                    <a href="/product" class="product-title">
                                                                        <%= product.name %>
                                                                    </a>
                                                                    <div class="price-switcher">
                                                                        <span class="price switcher-item">₹<%=
                                                                                product.price %>
                                                                        </span>
                                                                        <a onclick="addToCart('<%= product._id %>')"
                                                                            class="add-cart text-capitalize switcher-item"
                                                                            style="cursor: pointer;">+
                                                                            Add to Cart</a>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }); %>

                                                        <!-- 
                                                <div class="text-center mt-20">
                                                    <a href="shop.html" class="load-more">LOAD MORE...</a>
                                                </div> -->
                                            </div>

                                        </div>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                                    <a class="page-link" href="/shop?page=<%= currentPage - 1 %>"
                                                        aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>

                                                <% for (let i=1; i <=totalPages; i++) { %>
                                                    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                        <a class="page-link" href="/shop?page=<%= i %>">
                                                            <%= i %>
                                                        </a>
                                                    </li>
                                                    <% } %>

                                                        <li
                                                            class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                                            <a class="page-link"
                                                                href="/shop?page=<%= currentPage + 1 %>"
                                                                aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                            </ul>
                                        </nav>
                                    </div>

                                    <!-- this i want take  -->

                                </div>
                            </div>
                            <!-- /. filter content -->
                        </div>
                        <!-- /. shop products -->
                    </div>
                </div>
            </div>
            <% } %>

    </div>



    <script>
        // function addToCart(productId) {

        //     $.ajax({
        //         url: "/addToCart",
        //         method: "post",
        //         data: {
        //             id: productId,
        //         },
        //         success: (response) => {
        //             if (response.login == true) {
        //                 swal
        //                     .fire({
        //                         icon: "warning",
        //                         title: "Please Login",
        //                         confirmButtonColor: "#3085d6",
        //                         confirmButtonText: "Login",
        //                         showCancelButton: true,
        //                         cancelButtonColor: "#d33",
        //                         text: response.message,
        //                     })
        //                     .then((result) => {
        //                         if (result.isConfirmed) {
        //                             window.location.href = "/loadLogin";
        //                         }
        //                     });
        //             } else if (response.success) {
        //                 swal.fire({
        //                     position: "center",
        //                     icon: "success",
        //                     title: "Product added to cart",
        //                     showConfirmButton: false,
        //                     timer: 1500,
        //                 });
        //                 $("#cartDiv").load("/ #cartDiv");
        //             } else {
        //                 swal.fire({
        //                     icon: "error",
        //                     title: "Sorry ! Out of stock. ",
        //                     text: response.message,
        //                 });
        //             }
        //         },
        //     });
        // }

        function search() {
            const searchInput = document.getElementById('search-input');
            const searchValue = searchInput.value;
            console.log(searchValue);
            const data = { search: searchValue }
            $.ajax({
                method: 'POST',
                url: '/shop',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                    if (response.search === true) {
                        $('#reloadArea').load('/shop #reloadArea');
                    } else {
                        swal("somthing wrong", "", "error")
                    }

                },
                error: function (error) {

                    console.error(error);
                }
            });
        }


        function addToCart(productId, count = 1) {
            $.ajax({
                url: "/addToCart",
                method: "post",
                data: {
                    id: productId,
                    count: count,
                },
                success: (response) => {
                    if (response.login == true) {
                    } else if (response.success) {
                        if (response.newProduct) {
                            swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Product added to cart",
                                showConfirmButton: false,
                                timer: 1500,
                            });
                        } else {
                            swal.fire({
                                position: "center",
                                icon: "info",
                                title: "Product already in the cart. Increasing quantity.",
                                showConfirmButton: false,
                                timer: 2000,
                            });
                        }
                        $("#cartDiv").load("/ #cartDiv");
                    } else {
                        swal.fire({
                            icon: "error",
                            title: "Sorry! Out of stock.",
                            text: response.message,
                        });
                    }
                },
            });
        }

    </script>



    <%- include('../layouts/user/footer.ejs') -%>