<%- include('../layouts/user/header.ejs') -%>

    <body>
        <div class="containerpro" id="mainContainer">
            <div class="leftbox">
                <nav class="pnav">
                    <a onclick="tabs(0)" class="tab">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <a onclick="tabs(1)" class="tab">
                        <i class="fa-solid fa-key"></i>
                    </a>
                    <a onclick="tabs(2)" class="tab">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                    <a onclick="tabs(3)" class="tab">
                        <i class="fa-solid fa-gift"></i>
                    </a>
                    <a onclick="tabs(4)" class="tab">
                        <i class="fa-solid fa-address-book"></i>
                    </a>

                </nav>
            </div>

            <div class="rightbox">
                <div class="profile tabShow">
                    <h4 class="custom-h4" style="color: #0C7075;">Profile</h4>
                    <h6 class="custom-h2"> Name</h6>
                    <input type="text" class="input" value="<%= user.name %>" readonly>
                    <h6 class="custom-h2">Email</h6>
                    <input type="text" class="input" value="<%= user.email%>" readonly>
                    <h6 class="custom-h2">Phone Numer</h6>
                    <input type="text" class="input" value="<%= user.mobile %>" readonly>
                    <button class="btns"
                        onclick="showEditProfileModal('<%- user.name %>', '<%- user.email %>', '<%- user.mobile %>')">Edit</button>

                    <!-- Edit Profile Modal -->
                    <div class="modal" id="editProfileModal" tabindex="-1" role="dialog"
                        aria-labelledby="editProfileModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/editProfile" id="editProfileForm" method="post">
                                        <div class="form-group">
                                            <label for="editFullname">Full Name
                                                *</label>
                                            <input type="text" class="form-control" name="editFullname"
                                                id="editFullname" required>
                                            <p style="color: red; display: none;" id="editFullnameError"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="editEmail">Email *</label>
                                            <input type="email" class="form-control" name="editEmail" id="editEmail"
                                                readonly>
                                            <p style="color: red; display: none;" id="editEmailError"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="editMobile">Phone Number
                                                *</label>
                                            <input type="tel" class="form-control" name="editMobile" id="editMobile"
                                                required>
                                            <p style="color: red; display: none;" id="editMobileError"></p>
                                        </div>

                                        <button type="submit" id="editProfile" class="btn " style="background-color: #000000; color: white;">Save
                                            Changes</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="changePassword tabShow" id="passForm">

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <h4 class="custom-h4">Change Password</h4>
                                <form>
                                    <!-- Current Password -->
                                    <div class="form-group">
                                        <label for="password" class="custom-h2">Current Password</label>
                                        <div class="input-group" id="show_hide_current_password">
                                            <input type="password" name="CurrentPass" id="password"
                                                class="form-control pass-key">
                                            <div class="input-group-addon">
                                                <a href="#" class="show"
                                                    onclick="togglePasswordVisibility('password', 'show_hide_current_password')">
                                                    <i class="fa" id="toggleCurrentPasswordIcon"
                                                        aria-hidden="true">👁️</i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="currError" style="display: none; color: red;"></div>
                                    </div>

                                    <!-- New Password -->
                                    <div class="form-group">
                                        <label for="newPass" class="custom-h2">New Password</label>
                                        <div class="input-group" id="show_hide_new_password">
                                            <input type="password" name="newPass" id="newPass"
                                                class="form-control pass-key">
                                            <div class="input-group-addon">
                                                <a href="#" class="show"
                                                    onclick="togglePasswordVisibility('newPass', 'show_hide_new_password')">
                                                    <i class="fa" id="toggleNewPasswordIcon" aria-hidden="true">👁️</i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="newpassError" style="display: none; color: red;"></div>
                                    </div>

                                    <!-- Confirm Password -->
                                    <div class="form-group">
                                        <label for="conPass" class="custom-h2">Confirm Password</label>
                                        <div class="input-group" id="show_hide_confirm_password">
                                            <input type="password" name="ConformPass" id="conPass"
                                                class="form-control pass-key">
                                            <div class="input-group-addon">
                                                <a href="#" class="show"
                                                    onclick="togglePasswordVisibility('conPass', 'show_hide_confirm_password')">
                                                    <i class="fa" id="toggleConfirmPasswordIcon"
                                                        aria-hidden="true">👁️</i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="conpassError" style="display: none; color: red;"></div>
                                    </div>

                                    <button class="btn " style="background-color: #0f9ba2; color: white;" type="submit" id="changePass">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="wallet tabShow">

                    <!-- start page title -->
                    <div class="row" style="margin-top: 5%;">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Orders</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-centered table-nowrap mb-0">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Date</th>
                                                    <th>Total</th>
                                                    <th>Payment</th>
                                                    <th>Details</th>
                                                    <!-- <th style="width: 119px;">Details</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% orderData.forEach((order, index)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <%= order.purchaseDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %>
                                                            <small class="text-muted"></small>
                                                        </td>
                                                        
                                                        <td> <span>₹</span>
                                                            <%= order.totalAmount %>
                                                        </td>
                                                        <td>
                                                            <%= order.paymentMethod %>
                                                        </td>

                                                        <td>
                                                            <a href="/orderDetails?_id=<%= order._id %>" style="color: rgb(8, 8, 85); ">Details</a>

                                                        </td>
                                                        <td>
                                                            <i class="fa fa"></i>
                                                        </td>

                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>

                                    </div>

                                    <!-- <ul class="pagination pagination-rounded justify-content-end my-2">
                                                <li class="page-item">
                                                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                                        <span aria-hidden="true">«</span>
                                                        <span class="visually-hidden">Previous</span>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                                        <span aria-hidden="true">»</span>
                                                        <span class="visually-hidden">Next</span>
                                                    </a>
                                                </li>
                                            </ul> -->
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div>

                <div class="coupen tabShow">
                    <div class="walletBody">
                        <div class="wallet-container">
                            <div class="background-pattern"></div>
                            <h1 class="wallet-title">Your Wallet</h1>
                            <div class="balance-container">Balance: <span id="balance" class="balance-amount">₹ &nbsp;<%=
                                        walletData.wallet %></span></div>
                            <!-- <button onclick="addMoney()" class="wallet-button">Add Money</button> -->
                            <h2 class="wallet-transaction-title">Transaction History</h2>
                            <ul id="transaction-list" class="wallet-transaction-list"></ul>

                            <table class="history-table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Date</th>
                                        <th>Transaction</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="history-body">
                                    <% if (Array.isArray(walletData.walletHistory) && walletData.walletHistory.length>
                                        0) { %>
                                        <% walletData.walletHistory.forEach((transaction, i)=> { %>
                                            <tr>
                                                <td>
                                                    <%= i + 1 %>
                                                </td>
                                                <td>
                                                    <%= new Date(transaction.transactionDate).toLocaleDateString() %> <small><%= new Date(transaction.transactionDate).toLocaleTimeString() %></small>
                                                </td>
                                              
                                                 <td>
                                                    <%= transaction.direction %>
                                                </td>
                                                <td> <span>₹</span>
                                                    <%= transaction.amount %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="3">No wallet transactions found</td>
                                                    </tr>
                                                    <% } %>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>


                <div class="address tabShow row">
                    <div id="addressReload">
                        <% if (addressData && addressData.address && addressData.address.length> 0) {
                            addressData.address.forEach((address, i) => { %>
                            <div class="col-lg-6 custom-card-container">
                                <div class="card card-dashboard shadow">
                                    <div class="card-body pr-0 py-0">
                                        <h3 class="card-title d-inline">Address <%= i + 1 %>
                                        </h3>

                                        <div class="card-details m-0">
                                            Full Name: <%= address.fullname %><br>
                                                Mobile: <%= address.mobile %><br>
                                                    Email: <%= address.email %><br>
                                                        House Name: <%= address.houseName %><br>
                                                            City: <%= address.city %><br>
                                                                State: <%= address.state %><br>
                                                                    Pincode: <%= address.pincode %><br>
                                        </div>

                                        <a href="#"
                                            onclick="showEditAddressModal('<%= address.fullname %>','<%= address.mobile %>', '<%= address.email %>', '<%= address.houseName %>', '<%= address.city %>', '<%= address.state %>',  '<%= address.pincode %>','<%= address._id %>')"
                                            class="edit-link" data-toggle="modal" data-target="#editAddressModal">
                                            Edit <i class="fa-sharp fa-solid fa-pen" style="color: #cc9966;"></i>
                                        </a>

                                        <a onclick="removeAddress('<%= address._id %>')">remove
                                            <i class="fa-sharp fa-solid fa-trash" style="color: #df1d1d;"></i></a>
                                    </div><!-- End .card-body -->
                                </div><!-- End .card-dashboard -->
                            </div><!-- End .col-lg-6 -->
                            <% }); %>
                                <% } else { %>
                                    <div class="col-lg-12">
                                        <p class="text-center">No addresses found. Add your
                                            address by clicking the button
                                            below.</p>
                                    </div>
                                    <% } %>
                                        <button type="button" data-toggle="modal" data-target="#addAddressModal"
                                            class="btns">Add Address</button>

                                        <!-- Add Address Modal -->
                                        <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true"
                                            style="padding-top: 80px;">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Add
                                                            Address</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/addAddress" id="form" method="post" class="row gx-2">
                                                            <div class="form-group col-md-6">
                                                                <label for="fullname">Full Name *</label>
                                                                <input type="text" class="form-control" name="fullname" id="fullname" required>
                                                                <div id="fnameError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-6">
                                                                <label for="mobile">Mobile *</label>
                                                                <input type="tel" class="form-control" name="mobile" id="mobile" autocomplete="off" required>
                                                                <div id="phoneError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-12">
                                                                <label for="email">Email *</label>
                                                                <input type="email" class="form-control" name="email" id="addressEmail" required>
                                                                <div id="addEmailError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-12">
                                                                <label for="house">House Name *</label>
                                                                <input type="text" class="form-control" name="houseName" id="houseName" required>
                                                                <div id="houseError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-4">
                                                                <label for="state">State *</label>
                                                                <input type="text" class="form-control" name="state" id="state" required>
                                                                <div id="stateError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-4">
                                                                <label for="city">City *</label>
                                                                <input type="text" class="form-control" name="city" id="city" required>
                                                                <div id="cityError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-4">
                                                                <label for="pincode">Pincode *</label>
                                                                <input type="tel" class="form-control" name="pincode" id="pincode" autocomplete="off" required>
                                                                <div id="pinError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-12">
                                                                <button id="submitAddress" type="submit" class="btn btn-outline-primary">
                                                                    <span>Add Address</span>
                                                                    <i class="icon-long-arrow-right"></i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End the addAddress -->

                                        <!-- Edit Address -->

                                        <div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true"
                                            style="padding-top: 80px;">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">edit
                                                            Address</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/editAddress" id="editAddressform" method="post" class="row gx-2">
                                                            <div class="form-group col-md-6">
                                                                <label for="fullname">Full Name *</label>
                                                                <input type="text" class="form-control" name="fullname" id="fullnames" required>
                                                                <div id="fnameError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-6">
                                                                <label for="mobile">Mobile *</label>
                                                                <input type="tel" class="form-control" name="mobile" id="mobiles" required>
                                                                <div id="mobiles" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-12">
                                                                <label for="email">Email *</label>
                                                                <input type="email" class="form-control" name="email" id="emails" required>
                                                                <div id="addEmailError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-12">
                                                                <label for="house">House Name *</label>
                                                                <input type="text" class="form-control" name="houseName" id="houseNames" required>
                                                                <div id="houseError" style="display: none; color: red;"></div>
                                                                <input type="text" class="form-control" style="display: none;" id="addressId" name="addressId">
                                                            </div>
                                                        
                                                            <div class="form-group col-md-4">
                                                                <label for="state">State *</label>
                                                                <input type="text" class="form-control" name="state" id="states" required>
                                                                <div id="stateError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-4">
                                                                <label for="city">City *</label>
                                                                <input type="text" class="form-control" name="city" id="citys" required>
                                                                <div id="cityError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-4">
                                                                <label for="pincode">Pincode *</label>
                                                                <input type="tel" class="form-control" name="pincode" id="pincodes" autocomplete="off" required>
                                                                <div id="pinError" style="display: none; color: red;"></div>
                                                            </div>
                                                        
                                                            <div class="form-group col-md-12">
                                                                <button id="editAddress" type="submit" class="btn btn-outline-primary">
                                                                    <span>Add Address</span>
                                                                    <i class="icon-long-arrow-right"></i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="notification-container"></div>



        <!-- tabs  -->
        <script>
            const tabBtn = document.querySelectorAll(".tab");
            const tab = document.querySelectorAll(".tabShow");
            function tabs(panelIndex) {
                tab.forEach(function (node) {
                    node.style.display = "none"
                })
                tab[panelIndex].style.display = "block";

            }
            tabs(0)

            $(".tab").click(function () {
                $(this).addClass("active").siblings().removeClass("active")
            })

            // -------------------------------show notification-----------------------------------
            // function showNotification(message, success = true) {
            //     const notificationContainer = document.getElementById('notification-container');
            //     notificationContainer.innerHTML = message;

            //     if (success) {
            //         notificationContainer.style.color = 'green';
            //     } else {
            //         notificationContainer.style.color = 'red';
            //     }

            //     notificationContainer.style.display = 'block';

            //     setTimeout(() => {
            //         notificationContainer.style.display = 'none';
            //     }, 3000);
            // }

            function togglePasswordVisibility(fieldId, groupId) {
                const passField = document.getElementById(fieldId);
                const togglePasswordIcon = document.getElementById('toggle' + fieldId.charAt(0).toUpperCase() + fieldId.slice(1) + 'Icon');

                if (passField.type === 'password') {
                    passField.type = 'text';
                    togglePasswordIcon.textContent = '🔒'; 
                    togglePasswordIcon.style.color = '#3498db';
                } else {
                    passField.type = 'password';
                    togglePasswordIcon.textContent = '👁️'; 
                    togglePasswordIcon.style.color = '#222';
                }

                setTimeout(function () {
                    togglePasswordIcon.textContent = '👁️';
                }, 1500);
            }


        </script>

        <script src="/userjs/profileEdits.js"></script>


        <%- include('../layouts/user/footer.ejs') -%>