<%- include('../layouts/user/header.ejs') -%>

    <!-- preloader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    <!-- shop body section start -->
    <main>

        <!-- breadcrumb-area-start -->
        <section class="breadcrumb-area" data-background="img/bg/page-title.html">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-content" style="flex-direction: column;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb p-0 m-0">
                                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Cart</li>
                                </ol>
                            </nav>
                            <h2 class="cart-title mt-40">Wishlist</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- Cart Area Strat-->
        <section class="cart-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                       <% console.log('productsArray', wishData.products); %>
                    <div class="col-12">
                        <% if (wishData !=null && wishData.length > 0) { %>
                            <div id="reloadArea">
                                <form>
                                    <div class="table-content table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="product-thumbnail">Images</th>
                                                    <th class="cart-product-name">Product</th>
                                                    <th class="product-price">Unit
                                                        Price</th>
                                                    <th class="product-quantity">Quantity</th>
                                                    <th class="product-subtotal">Total</th>
                                                    <th class="product-remove">Remove</th>
                                                </tr>
                                             

                                                <tr>
                                            </thead>
                                            <tbody>
                                                <% wishData.forEach(function (wishlist) { %>
                                                  <% wishlist.products.forEach(function (product) { %>
                                                    <tr>
                                                      <td class="product-thumbnail">
                                                        <a href="/product?id=<%= product._id %>">
                                                          <img src="/products/crops/<%= product.images.image1 %>" loading="lazy"
                                                            alt="<%= product.name %> Image">
                                                        </a>
                                                      </td>
                                                      <td class="product-name">
                                                        <a href="/product?id=<%= product._id %>">
                                                          <%= product.name %>
                                                        </a>
                                                      </td>
                                                      <td class="product-price">
                                                        <span class="amount">
                                                          <%= product.price %>
                                                        </span>
                                                      </td>
                                                      <td class="product-quantity">
                                                        <button class="btn theme-btn-2" onclick="addToCart('<%= product._id %>')" type="submit">Add TO Cart</button>
                                                      </td>
                                                      <td class="column-3">
                                                        <% if (product.quantity === 0) { %>
                                                          <span style="color: blue;">Out of stock</span>
                                                        <% } else if (product.quantity < 6) { %>
                                                          <span style="color: red;">Only <%= product.quantity %> left</span>
                                                        <% } else { %>
                                                          <span style="color: rgb(31, 158, 31);">Available</span>
                                                        <% } %>
                                                      </td>
                                                      <td class="product-remove">
                                                        <a title="Remove Product" onclick="removeProduct('<%= product._id %>')">
                                                          <i class="fa fa-times"></i>
                                                        </a>
                                                      </td>
                                                    </tr>
                                                  <% }); %>
                                                <% }); %>
                                              </tbody>
                                              
                                        </table>
                                    </div>
                                </form>
                            </div>

                                <% } else { %>
                                    <tr>
                                        <td colspan="5" class="text-center" style="padding: 20px;">
                                            <div style="text-align: center; font-family: 'Your Nice Font', sans-serif;">
                                                <h3>No products in wishlist</h3>
                                                <a href="/shop" class="btn " style="background-color: #1B1A55; color: white;">Go to Shop</a>
                                            </div>
                                        </td>
                                    </tr>
                                    

                                    <% } %>

                    </div>
                </div>
            </div>
        </section>
        <!-- Cart Area End-->

    </main>
    <script>


        function removeProduct(productId) {

            const data = { productId: productId }
            $.ajax({
                method: 'DELETE',
                url: '/removeWish',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                    if (response.remove == true) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        Toast.fire({
                            icon: 'success',
                            title: response.message
                        });

                        $('#reloadArea').load('/wishlist #reloadArea');
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });

        }
    </script>



    <%- include('../layouts/user/footer.ejs') -%>